
/*
#mailmindr-alert-listbox > .mailmindrMindrList {
    background-color: red !important;
    text-decoration: line-through !important;
    -moz-binding: url('chrome://mailmindr/skin/dialogs/mindrAlert.xml#listitem');
}

#testbox {
    color: red !important;
    text-decoration: line-through !important;
    -moz-binding: url('chrome://mailmindr/skin/dialogs/mindrAlert.xml#testbox');
}
*/