/* bookmark menu items */
#menuOnTop-menu-Custom menuitem.MOT_browser {
	list-style-image: url("chrome://menuontop/skin/icons/fugue-globe.png");
}

#menuOnTop-menu-Custom menuitem.MOT_mailmessage {
	list-style-image: url("chrome://menuontop/skin/icons/message-mail.png");
}

#menuOnTop-menu-Custom menuitem.MOT_mailfolder {
	list-style-image: url("chrome://menuontop/skin/icons/folder-aero.png");
}

#menuOnTop-menu-Custom menuitem.MOT_function {
	list-style-image: url("chrome://menuontop/skin/icons/fugue-function.png");
}

/* addons support */
#menuOnTop-menu-Custom menuitem.MOT_thunderstats {
	list-style-image: url("chrome://thunderstats/skin/mzts-button.png");
}

#menuOnTop-menu-Custom menuitem.MOT_about {
	list-style-image: url("chrome://menuontop/skin/icons/about.png");
}

#menuOnTop-menu-Custom menuitem.MOT_stationery {
	list-style-image: url("chrome://stationery/skin/main_icon.png");
}

#menuOnTop-menu-Custom menuitem.MOT_calendar {
	list-style-image: url("chrome://lightning/skin/mode-switch-icons-aero.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);	
}
#menuOnTop-menu-Custom menuitem.MOT_prefs {
	list-style-image: url("chrome://mozapps/skin/extensions/utilities.svg#utilities");
}