#issueBar {
	left: 0px;
	background-color: white;
	overflow: hidden;
	padding-left: 2px;
}

#issueBarContainer {
	background-color: white;
	border-bottom: solid 1px rgb(160, 183, 201);
	height: 22px;
}

#issueBarLinks {
	overflow: hidden;
}

#issueBarButton {
	margin: 0;
	padding: 0;
	height: 16px;
	width: 40px;
	min-width: 1em;

	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.0), white 20px);

	-moz-appearance: none;
	border: none;
}

.createjiraissue-commentedImage {
	width: 16px;
	margin: 0;
	padding: 0;
}

#isssueBarImage {
	margin-right: 10px;
}

.createjiraissue-isssueLink {
	color: #000088;
	text-decoration: underline;
	cursor: pointer;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
}

.createjiraissue-linkBox {
	margin-right: 10px;
}
