/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

prefwindow#attachmentextractorPreferences {
  max-height: 50em !important;
  height: 50em !important;
}

#filenamepattern_examplegenerated,
#filenamepattern_examplegenerated2,
#filenamepattern {
  /*-moz-appearance: none;*/
  background: #FFFF99 !important;

}

dialog#attachmentextractorFilenamePatternDialog {
  width: 30em;
}

textbox#filenamepattern {
  width: 25em;
}