/* ::::: addressing widget ::::: */

@media (-moz-windows-default-theme) {
  textbox.textbox-addressingWidget,
  .dummy-row-cell:last-child {
    border-bottom-color: #a9b7c9 !important;
  }

  textbox.textbox-addressingWidget:hover,
  textbox.textbox-addressingWidget[focused="true"] {
    background-color: -moz-field;
    border-color: #a9b7c9 !important;
  }

  menulist,
  menulist[disabled="true"] {
    color: inherit;
    border: 1px solid;
    background: var(--toolbarbutton-hover-background);
    border-color: var(--toolbarbutton-hover-bordercolor);
    box-shadow: var(--toolbarbutton-hover-boxshadow);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }

  menulist[disabled="true"] {
    opacity: 0.5;
  }

  menulist:not([disabled="true"]):not([open="true"]):hover {
    background: var(--toolbarbutton-active-background);
    border-color: var(--toolbarbutton-active-bordercolor);
  }

  menulist[open="true"] {
    background: var(--toolbarbutton-active-background);
    border-color: var(--toolbarbutton-active-bordercolor);
    box-shadow: var(--toolbarbutton-active-boxshadow);
  }

  .menulist-dropmarker,
  .menulist-dropmarker[disabled="true"] {
    -moz-appearance: none;
    list-style-image: url("chrome://messenger/skin/icons/dropmarker.svg#win8");
    width: 9px;
    height: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    -moz-context-properties: fill;
    fill: currentColor;
    margin-top: 0;
  }

  .menulist-dropmarker > .dropmarker-icon {
    width: 9px;
    height: 7px;
  }
}

.aw-menulist {
  display: -moz-box;
  list-style-image: url("chrome://messenger/skin/icons/dropmarker.svg#win");
  width: 9px;
  height: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.aw-menulist > .menulist-label-box > .menulist-icon {
  width: 9px;
  height: 7px;
  margin-inline-start: 2px;
}

@media (-moz-windows-default-theme: 0) {
  .aw-menulist {
    background-color: rgba(128, 128, 128, .3);
    border: 1px solid ThreeDShadow;
    transition: background-color .25s ease-in;
  }

  .aw-menulist:hover {
    background-color: rgba(128, 128, 128, .45);
  }

  .aw-menulist:focus:not([open="true"]) > .menulist-label-box {
    background-color: inherit;
    color: inherit;
  }
}

.aw-menulist > .menulist-label-box {
  margin: -1px 0;
}

.aw-menulist > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

/* :::::: Close button icons ::::: */

.close-icon {
  list-style-image: url("chrome://mailredirect-shared/skin/close.png");
  -moz-image-region: rect(0px, 20px, 20px, 0px);
}

.close-icon:hover {
  -moz-image-region: rect(0, 40px, 20px, 20px);
}

.close-icon:hover:active {
  -moz-image-region: rect(0, 60px, 20px, 40px);
}
