.ruleactiontarget[type="resubmit@ezamber.pl#actionCompose"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto"); 
}
.ruleactiontarget[type="resubmit@ezamber.pl#actionSendNow"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto"); 
}
.ruleactiontarget[type="resubmit@ezamber.pl#actionSendLater"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto"); 
}
.ruleactiontarget[type="resubmit@ezamber.pl#actionComposeMsg"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto"); 
}
.ruleactiontarget[type="resubmit@ezamber.pl#actionSendNowMsg"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto"); 
}
.ruleactiontarget[type="resubmit@ezamber.pl#actionSendLaterMsg"] {
  -moz-binding: url("chrome://messenger/content/searchWidgets.xml#ruleactiontarget-replyto"); 
}
