/* This is just an example.  You shouldn't do this. */
/* #copyfolder-hello
{
  color: red ! important;
}
#copyfolder-toolbar-button
{
  list-style-image: url("chrome://copyfolder/skin/images/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#copyfolder-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #copyfolder-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #copyfolder-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
 */