@import url("chrome://messenger/skin/toolbar.css");

#threadTree treechildren::-moz-tree-row(notsent) {
  background-color: #D70022;
}

#threadTree treechildren::-moz-tree-cell-text(notsent) {
  color: white;
}

#bounceToolbar > .toolbar-holder > .toolbar-primary-icon {
  list-style-image: url("chrome://messenger/skin/icons/mast-mail.gif");
}

/* ::::: addressing widget ::::: */

.aw-firstColBox,
#firstcol-addressingWidget,
.dummy-row-cell:first-child {
  display: none;
}

/* ..... close button ..... */

#sidebar-close-button {
  margin: 0px 1px;
  padding: 0px;
  list-style-image: url("chrome://global/skin/icons/closebox.gif");
}

#sidebar-close-button > .toolbarbutton-icon {
  margin: 0px;
}

#button-contacts {
  list-style-image: url("chrome://messenger/skin/icons/btn1.gif");
  -moz-image-region: rect(476px, 49px, 509px, 0);
}

#button-contacts:hover {
  -moz-image-region: rect(476px, 99px, 509px, 50px);
}

#button-contacts:hover:active {
  -moz-image-region: rect(476px, 149px, 509px, 100px);
}

#button-contacts[disabled="true"] {
  -moz-image-region: rect(476px, 199px, 509px, 150px) !important;
}
