#mailredirect-toolbarbutton {
  -moz-image-region: rect(0px, 49px, 33px, 0px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

#mailredirect-toolbarbutton:hover {
  -moz-image-region: rect(0px, 99px, 33px, 50px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

#mailredirect-toolbarbutton:hover:active {
  -moz-image-region: rect(0px, 149px, 33px, 100px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

#mailredirect-toolbarbutton[disabled="true"] {
  -moz-image-region: rect(0px, 199px, 33px, 150px) !important;
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}
