#mailredirect-toolbarbutton {
  -moz-image-region: rect(0px, 49px, 33px, 0px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

.hdrMailredirectButton {
  -moz-image-region: rect(0px, 49px, 33px, 0px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png") !important;
}

.hdrMailredirectButton[disabled="true"] {
  display: -moz-box !important;
}
