.itemsListboxClass {
	-moz-appearance: none;
	background-color: Menu;
	color: MenuText;
	margin: 0 0 4px 0;
	border: 0;
}

.addItemTextboxClass .textbox-search-icon {
	list-style-image: none;
	cursor:default;
}

.addItemTextboxClass {
	-moz-appearance: textfield;
}
