#MMP_button-maxmsgpane {
  list-style-image: url("chrome://maxmsgpane/skin/max16.png");
}
#MMP_button-maxmsgpane[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/max_gray16.png");
}
toolbar[iconsize="small"] #MMP_button-maxmsgpane {
  list-style-image: url("chrome://maxmsgpane/skin/max16.png");
}
toolbar[iconsize="small"] #MMP_button-maxmsgpane[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/max_gray16.png");
}
#MMP_button-maxmsgpane-all {
  list-style-image: url("chrome://maxmsgpane/skin/max16.png");
}
toolbar[iconsize="small"] #MMP_button-maxmsgpane-all {
  list-style-image: url("chrome://maxmsgpane/skin/max16.png");
}
#MMP_button-maxmsgpane-all[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/max16_gray.png");
}
toolbar[iconsize="small"] #MMP_button-maxmsgpane-all[disabled="true"]{
  list-style-image: url("chrome://maxmsgpane/skin/max16_gray.png");
}

#MMP_button-minmsgpane {
  list-style-image: url("chrome://maxmsgpane/skin/min16.png");
}

toolbar[iconsize="small"] #MMP_button-minmsgpane {
  list-style-image: url("chrome://maxmsgpane/skin/min16.png");
}

#MMP_button-minmsgpane[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/min_gray16.png");
}

toolbar[iconsize="small"] #MMP_button-minmsgpane[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/min_gray16.png");
}

#MMP_button-folderpane {
  list-style-image: url("chrome://maxmsgpane/skin/folder16.png");
}

toolbar[iconsize="small"] #MMP_button-folderpane {
  list-style-image: url("chrome://maxmsgpane/skin/folder16.png");
}

#MMP_button-folderpane[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/folder16_gray.png");
}

toolbar[iconsize="small"] #MMP_button-folderpane[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/folder16_gray.png");
}

tab#mptab{
  list-style-image: url("chrome://maxmsgpane/skin/max16.png");
}

tab#fptab{
  list-style-image: url("chrome://maxmsgpane/skin/folder16.png");
}
/* Removed MMP 1.3.00. No space to put the close button
#MMP_button-closefolder {
  list-style-image: url("chrome://maxmsgpane/skin/Close.gif");
}
*/

#MMP_button-maxmsgpane-hdr {
  list-style-image: url("chrome://maxmsgpane/skin/max16.png");
}

#MMP_button-folderpane-hdr {
  list-style-image: url("chrome://maxmsgpane/skin/folder16.png");
}

#MMP_button-minmsgpane-hdr {
  list-style-image: url("chrome://maxmsgpane/skin/min16.png");
}

toolbar[iconsize="small"] #MMP_button-minmsgpane-hdr[disabled="true"] {
  list-style-image: url("chrome://maxmsgpane/skin/min_gray16.png");
}

