.hdrMailredirectButton, toolbarpaletteitem[place="palette"] #hdrMailredirectButton {
  -moz-image-region: rect(0px, 18px, 18px, 0px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

.hdrMailredirectButton[disabled="true"] {
  display: -moz-box !important;
}
