/* CSS */

button {
    font-weight: bold;
}

/*
    Dictionary
*/ 
.dictionary {
    font-size: 18px;
    font-weight: bold;
    color: hsl(210, 50%, 50%);
}
.dic_text {
    font-size: 18px;
    color: hsl(210, 50%, 50%);
}
.align_right {
    text-align: right;
}


/*
    Add new words
*/
.section {
    font-size: 16px;
    font-weight: bold;
    color: hsl(210, 50%, 50%);
}

.subsection {
    font-size: 14px;
    font-weight: bold;
    color: hsl(210, 50%, 50%);
}

.option {
    width: 120px;
    font-size: 12px;
}

.m_left {
    margin-left: 20px;
}

.m_left2 {
    margin-left: 40px;
}

.v_usage {
    width: 150px;
}
.v_textbox {
    width: 200px;
}

.other_label {
    width: 80px;
}
.other_textbox {
    width: 250px;
}

#generated_words_table {
    width: 400px;
    height: 600px;
}

.delete_entry {
    color: hsl(0, 100%, 50%);
    font-weight: bold;
}

/*
    Lexicon tab
*/

#lexicon_table {
    width: 600px;
    height: 650px;
}

.info_label {
    width: 120px;
}
.data {
    width: 90px;
}

/*
    Search tab
*/

#search_table {
    width: 600px;
    height: 650px;
}

.bold {
    font-weight: bold;
}
description {
    width: 200px;
}

/*
    Informations tab
*/

#tags_table {
    width: 600px;
    height: 650px;
    font-family: "Courier new", "Ubuntu Mono", Courier, Consolas, monospace;
}


