#bounce-toolbox {
  -moz-appearance: none;
  background-color: var(--toolbar-bgcolor);
  border-bottom: 1px solid var(--toolbox-border-bottom-color);
}

@media (-moz-windows-default-theme) {
  @media (-moz-os-version: windows-win8),
         (-moz-os-version: windows-win10) {
    #bounce-toolbox:not(:-moz-lwtheme) {
      --toolbox-border-bottom-color: #c2c2c2;
    }
  }
}

#bounce-toolbox:-moz-lwtheme {
  background-color: var(--toolbar-bgcolor);
  color: var(--toolbar-color, inherit);
  /* Uses a background image instead of a border to avoid jumping of the toolbar
     when a theme is enabled. */
  background-image: linear-gradient(to bottom, var(--tabs-border-color, transparent) 1px, transparent 1px);
}

#bounce-toolbox > toolbar[brighttext] {
  --toolbarbutton-text-color: #fff;
  --toolbarbutton-hover-background: rgba(255, 255, 255, .25);
  --toolbarbutton-hover-bordercolor: rgba(255, 255, 255, .5);
  --toolbarbutton-header-bordercolor: rgba(255, 255, 255, .25);

  --toolbarbutton-active-background: rgba(255, 255, 255, .4);
  --toolbarbutton-active-bordercolor: rgba(255, 255, 255, .7);
  --toolbarbutton-active-boxshadow: 0 0 0 1px rgba(255, 255, 255, .4) inset;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(255, 255, 255, .5);
}

#bounce-toolbox > toolbar:-moz-lwtheme {
  --toolbarbutton-text-color: currentColor;
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .2));

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, rgba(70%, 70%, 70%, .25));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .3));
  --toolbarbutton-active-boxshadow: 0 0 2px var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .6)) inset;

  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, rgba(85%, 85%, 85%, .25));
}

#bounce-toolbox > toolbar:not([type="menubar"]) {
  padding: 2px 1px;
}

#bounce-toolbar-sizer {
  position: relative;
  z-index: 10;
  min-height: 0;
  height: 5px;
  margin-top: -5px;
  border-top-width: 0;
  border-bottom-width: 0;
  background-color: transparent;
}

#bounce-toolbox > toolbar:not([type="menubar"]):-moz-lwtheme {
  text-shadow: none;
}

#bounceContentBox {
  -moz-appearance: none;
  color: -moz-dialogtext;
  background-color: -moz-Dialog;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
  border-top-width: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}

#bounceContentBox:-moz-window-inactive {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset;
}

@media (-moz-windows-glass) {
  #bounce-toolbox:not(:-moz-lwtheme) {
    color: black;
    text-shadow: 0 0 .7em white, 0 0 .7em white, 0 1px 0 rgba(255, 255, 255, .4);
  }

  #headers-box {
    border-bottom-color: #aabccf;
  }

  #bounceContentBox {
    background-image: url("chrome://messenger/skin/messengercompose/noise.png");
  }
}

/* ::::: addressing widget ::::: */

@media (-moz-windows-default-theme) {
  textbox.textbox-addressingWidget,
  .dummy-row-cell:last-child {
    border-bottom-color: #a9b7c9 !important;
  }

  textbox.textbox-addressingWidget:hover,
  textbox.textbox-addressingWidget[focused="true"] {
    background-color: -moz-field;
    border-color: #a9b7c9 !important;
  }

  menulist,
  menulist[disabled="true"] {
    color: inherit;
    border: 1px solid;
    background: var(--toolbarbutton-hover-background);
    border-color: var(--toolbarbutton-hover-bordercolor);
    box-shadow: var(--toolbarbutton-hover-boxshadow);
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }

  menulist[disabled="true"] {
    opacity: 0.5;
  }

  menulist:not([disabled="true"]):not([open="true"]):hover {
    background: var(--toolbarbutton-active-background);
    border-color: var(--toolbarbutton-active-bordercolor);
  }

  menulist[open="true"] {
    background: var(--toolbarbutton-active-background);
    border-color: var(--toolbarbutton-active-bordercolor);
    box-shadow: var(--toolbarbutton-active-boxshadow);
  }

  .menulist-dropmarker,
  .menulist-dropmarker[disabled="true"] {
    -moz-appearance: none;
    list-style-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.svg");
    -moz-context-properties: fill;
    fill: currentColor;
    margin-top: 0;
  }

  .menulist-dropmarker > .dropmarker-icon {
    width: 9px;
    height: 7px;
  }
}

.aw-menulist {
  list-style-image: url("chrome://messenger/skin/icons/toolbarbutton-arrow.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

.aw-menulist > .menulist-label-box > .menulist-icon {
  width: 9px;
  height: 7px;
  margin-inline-start: 2px;
}

@media (-moz-windows-default-theme: 0) {
  .aw-menulist {
    background-color: rgba(128, 128, 128, .3);
    border: 1px solid ThreeDShadow;
    transition: background-color .25s ease-in;
  }

  .aw-menulist:hover {
    background-color: rgba(128, 128, 128, .45);
  }

  .aw-menulist:focus:not([open="true"]) > .menulist-label-box {
    background-color: inherit;
    color: inherit;
  }
}

.aw-menulist > .menulist-label-box {
  margin: -1px 0;
}

.aw-menulist > .menulist-label-box > .menulist-label {
  margin: 0 3px !important;
  text-align: end;
}

/* :::::: Close button icons ::::: */

.close-icon {
  -moz-appearance: none;
  -moz-context-properties: fill, fill-opacity;
  list-style-image: url("chrome://mailredirect-shared/skin/close.svg");
  color: inherit;
  fill: currentColor;
  fill-opacity: 0;
}

.close-icon:hover {
  fill-opacity: 0.1;
}

.close-icon:hover:active {
  fill-opacity: 0.2;
}

.close-icon > .button-icon,
.close-icon > .button-box > .button-icon,
.close-icon > .toolbarbutton-icon {
  width: 20px;
  height: 20px;
}
