/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

body {
  font-family: "Open Sans Light", sans-serif;
}

.title {
  font-size: 1.5em;
  margin: 0.5em;
}

.option {
  display: block;
  margin: 0.5em 0em;
}

label {
  font-size: 1.25em;
  line-height: 1.8em ;
}

input {
  margin: 0.5em;
}
