/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.processIconBox image {
  list-style-image: url(chrome://phoenityIcons/skin/activity/defaultProcessIcon.png);
}

.eventIconBox image {
  list-style-image: url(chrome://phoenityIcons/skin/activity/defaultEventIcon.png);
}

.warningIconBox image {
  list-style-image: url(chrome://phoenityIcons/skin/activity/defaultWarningIcon.png);
}

image.syncMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/syncMailIcon.png);
}

image.sendMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/sendMailIcon.png);
}

image.copyMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/copyMailIcon.png);
}

image.moveMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/moveMailIcon.png);
}

image.deleteMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/deleteMailIcon.png);
}

image.addItem {
  list-style-image: url(chrome://phoenityIcons/skin/activity/addItemIcon.png);
}

image.removeItem {
  list-style-image: url(chrome://phoenityIcons/skin/activity/removeItemIcon.png);
}

image.undo {
  list-style-image: url(chrome://phoenityIcons/skin/activity/undoIcon.png);
}

image.indexMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/indexMailIcon.png);
}

image.compactMail {
  list-style-image: url(chrome://phoenityIcons/skin/activity/compactMailIcon.png);
}
