/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://mailsummaries/content/accountSummary.css");

.starred .star {
  background-image: url("chrome://messenger/skin/icons/message-list.png");
  background-repeat: no-repeat;
  background-position: center -80px;
  height: 16px;
  width: 16px;
  margin-top: calc((1.2em - 16px)/2);
  -moz-margin-start: -20px;
}

.folder_icon[data-type="Inbox"] {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -64px;
}

.folder_icon[data-type="Outbox"] {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -96px;
}

.compose_icon {
  background-image: url("chrome://mailsummaries/skin/compose.png");
}

.drafts_icon {
  background-image: url("chrome://messenger/skin/icons/folder-pane.png");
  background-position: left -48px;
}
