treechildren::-moz-tree-checkbox { list-style-image: none; }
/* gif taken from seamonkey/thunderbird */
treechildren::-moz-tree-checkbox(checked){ list-style-image: url("chrome://createjiraissue/skin/cbox-check.gif"); }
treechildren::-moz-tree-row(selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-row(odd) { background-color: #EEEEEE; }
treechildren::-moz-tree-row(odd, selected) { background-color: #FFFFAA; }
treechildren::-moz-tree-cell-text(selected) { color: #000000; }
treechildren::-moz-tree-cell-text(odd, selected) { color: #000000; }
.sync-jira { list-style-image: url("chrome://createjiraissue/skin/Sync.png"); }
.test-jira { list-style-image: url("chrome://createjiraissue/skin/Refresh.png"); }
.list-new { list-style-image: url("chrome://createjiraissue/skin/New.png"); }
.search-jql { list-style-image: url("chrome://createjiraissue/skin/Zoom.png"); }
.reload { list-style-image: url("chrome://createjiraissue/skin/Refresh.png"); }