#dateValueBox > #paranoiaHdrIcon {
  margin-top: 2px;
  margin-inline-end: 4px;
  height: 16px;
  width: 16px;
}

#dateValueBox > .paranoiaProviderVbox {
  height: 20px;
  -moz-box-orient: horizontal;
}

.paranoiaProvider {
  margin: 2px;
}
