#title {
    font-size: 1.5em;
    color:black;
    font-family: sans-serif;
    font-weight: bolder;
    vertical-align: middle;
}

.intro {
    font-size: 1.1em;
    color:black;
    font-family: sans-serif;
    font-weight: 400;
    max-width: 99vw;
    display: inline-block;
    padding:5%;
    margin-top:30px;
    text-align: justify;
}

#logo {
    height:48px;
    width:48px;
    display:inline-block;
    max-height:50px;
    max-width:50px;
    padding:2px;
    vertical-align: middle;
}

caption {
    font-size: 1.1em;
    color:black;
    font-family: sans-serif;
    font-weight: bolder;
}

label {
    font-size: 1em;
    font-family: sans-serif;
    word-spacing: normal;
    padding-top: 0.3em;
    max-width: 90vw;
    word-wrap: normal;
    word-break: initial;
}

#grid-credentials {
    width:95vw;
    min-width:95vw;
    max-width:95vw;
}

.desc {
    font-size: 1em;
    font-family: sans-serif;
}

description {
    width: 95vw;
    max-width: 95vw;
}



/*prefwindow {
    overflow-x: auto;
    overflow-y: auto;
    height:600px;
    width:800px;
}*/