<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="../../css/sidebarViews.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body class="sidebarBody">
<table class="SPsection SPsectionLogo" id="SigSpamsectionLogo">
    <tbody>
        <tr>
            <td rowspan="2" style="max-width:9vmin;width: 15%;"><div class="SPlogo"></div></td>
            <td rowspan="2">
                <div class="SPlogoTitle" data-verifromlocalize="contentScript.sidebar.title">
                    Extension de signalement et de protection contre le Phishing
                </div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table class="SPsection SPsectionOK" style="background:#feffdb;">
    <tbody>
        <tr>
            <td>
                <div class="SPsectionOK" id="calltoaction">
                    <p data-verifromlocalize="contentScript.sidebar.multiplereportsfailed">An error occured while transmitting one of the reports.</p>
                    <p>
                        <span data-verifromlocalize="contentScript.sidebar.successNumber">Number of transmitted reports: </span><span id="successNumber"></span><br>
                        <span data-verifromlocalize="contentScript.sidebar.failureNumber">Number of failed transmissions: </span><span id="failureNumber"></span>
                    </p>
                    <p>
                        <span data-verifromlocalize="contentScript.sidebar.failureReason">Error code: </span><span id="failureReason"></span>
                    </p>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div class="SPOKBox" id="SigSpamOKBox" data-verifromlocalize="contentScript.sidebar.buttonlabelReported">THANKS</div>
            </td>
        </tr>
    </tbody>
</table>
<script src="/js/popup.js" defer></script>
</body>
<html>