/* messenger window additional button 'Send all' */
#GetSendButton_S_all,
#tabbar-toolbar #GetSendButton_S_all {
  list-style-image: url("chrome://messenger/skin/icons/send.svg");
}

#GetSendButton_messenger_menupopup_sendUnsent {
  list-style-image: url("chrome://getsendbutton/skin/send.svg"); /* black icon */
}
#GetSendButton_messenger_menupopup_sendUnsent[disabled="true"] {
  list-style-image: url("chrome://getsendbutton/skin/send_grey.svg"); /* grey icon - opacity .5 in SVG */
}

#GetSendButton_messenger_menupopup_SyncFlagged {
  list-style-image: url("chrome://getsendbutton/skin/star.svg"); /* black icon */
}
#GetSendButton_messenger_menupopup_SyncFlagged[disabled="true"] {
  list-style-image: url("chrome://getsendbutton/skin/star_grey.svg"); /* grey icon - opacity .5 in SVG */
}

/* Get all / auth messages */
#GetSendButton_messenger_menupopup_ReceiveAll,
#GetSendButton_messenger_menupopup_ReceiveAuth {
  list-style-image: url("chrome://getsendbutton/skin/getallmsg.svg");
}
