html, body {
    /*max-width: 415px;
    min-width: 380px;*/
    width: 450px;
    /*max-height: 315px;
    min-height: 280px;*/
    /*height: 200px;*/
    overflow-x: hidden;
    overflow-y: hidden;
}
input.flat {
    border: 0;
    width: 100%;
}
.wrap {
    display: flex;
}
.icon {
    width: 48px;
    height: 48px;
}
.throbber {
    width: 16px;
    height:16px;
    margin-left:3px;
}
.wrapbutton {
    display: flex;
    justify-content: space-between;
}
