input[type="checkbox"]:disabled + .lbl {
    color: #999;
}

.overlayDef {
    width: 100%;
    font-size: small;
}

.fileselect {
    opacity: 0;
    width: 0px;
}

.fileLbl {
    background-color: #e1e1e1;
    padding: 1px 5px 1px 5px;
    border: 1px ridge #adadad;
    font-size: 0.8rem;
    height: auto;
}

.fileLbl:hover {
    background-color: #e5f1fb;
    border-color: #0078d7;
}