/*
grid,row,hbox,vbox,label,column,*
{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  border-style: dashed;
  border-width:1px;
}

grid { border-color: red; }
row { border-color: #f80; }
hbox { border-color: yellow; }
vbox { border-color: green; }
label { border-color: blue; }
column { border-color: black; border-style:solid;}
*/

.match-string
{
/*  color:#ffffff;
  background-color:#000000;*/
  display: inline-block;
  text-decoration:underline;
}
