<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/css/sidebar.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="popupMenu">
<div class="popupSubMenu" data-VerifromLocalize="reports.title" id="previousReports"></div>
<div class="popupSubMenu" data-VerifromLocalize="options.title" id="options"></div>
<div class="popupTooltip" data-VerifromLocalize="popupmenu.tooltip"></div>
<script src="/js/popup.js" defer></script>
</body>
</html>
