<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="/css/sidebar.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="/js/popup.js" defer></script>
</head>
<body class="sidebarBody">
<table class='SPsection SPsectionLogo' id='SigSpamsectionLogo'>
	<tbody>
	<tr>
		<td rowspan="2" style="max-width:9vmin;"><a href='https://www.signal-spam.fr/espace-membre' target='_signalspam' class='externallink'><img src='https://vrf01.signal-spam.fr//extension/images/SignalSpam65.png' alt=
				'Signal Spam' class='SPlogo'/></a></td>
		<td rowspan="2">
			<div class='SPlogoTitle' data-verifromlocalize='contentScript.sidebar.title'>Signaler, c'est agir</div>
			<div id='verifromcopyright'>
				<span data-verifromlocalize='contentScript.sidebar.copyright'>D&eacute;velopp&eacute; par </span>
				<a href='https://www.verifrom.com' target='_newtab' style='color: whitesmoke;' class='externallink'>VERIFROM</a>
				<div id='logoVerifrom'></div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<table class='SPsection SPsectionOK' style="background:white;">
	<tbody>
	<tr>
		<td>
			<div class="SPsectionOK" id="calltoaction" data-verifromlocalize='contentScript.sidebar.multiplereportsok'>
				Les e-mails signalés ont été correctement transmis à Signal Spam
			</div>
		</td>
		<BR/>
	</tr>
	<tr>
		<td>
			<div class='SPOKBox' id='SigSpamOKBox' data-verifromlocalize='contentScript.sidebar.buttonlabelReported'>
				MERCI
			</div>
		</td>
	</tr>
	<tr>
		<td colspan='2'>
			<div class='originalDesc'>
				<span data-verifromlocalize='contentScript.sidebar.disclosure'>
					<p>En signalant ces e-mails, leurs contenus seront transmis à nos services pour analyse afin de déployer, avec les acteurs appropriés les <a href='https://www.signal-spam.fr/comment-sont-traites-vos-signalements' target='_signalspam' class='externallink'>contre-mesures adaptées</a></p>
					<p>Consulter <a href='https://www.signal-spam.fr/espace-membre' target='_signalspam' class='externallink'>l’historique de vos précédents signalements</a> sur votre compte Signal Spam.</p>
				</span>
			</div>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>