<html xmlns="http://www.w3.org/1999/xhtml" style="min-width:360px;">
<head>
    <link href="/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="/css/notAuthentified.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<span data-VerifromLocalize="notauthentified" id="notauthentified">Vos identifiants Signal Spam (identifiant ou mot de passe) sont invalides. Veuillez vérifier ceux-ci dans les <a id='options'>options de l'extension</a></span>
<script src="/js/popup.js" defer></script>
<script defer type="text/javascript" src="/js/notAuthentified.js"></script>
</body>
</html>