<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href="/css/sidebar.css" rel="stylesheet" type="text/css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Signaler, c'est agir</title>
</head>
<body class="sidebarBody-Grey">
<table class='SPsection SPsectionLogo' id='SigSpamsectionLogo'>
  <tbody>
  <tr>
    <td rowspan="2" style="max-width:9vmin;"><a href='https://www.signal-spam.fr/espace-membre' target='_signalspam' class='externallink'><img src='https://vrf01.signal-spam.fr/extension/images/SignalSpam65.png' alt=
            'Signal Spam' class='SPlogo'/></a></td>
    <td rowspan="2">
      <div class='SPlogoTitle' data-verifromlocalize='contentScript.sidebar.title'>Signaler, c'est agir</div>
      <div id='verifromcopyright'>
        <span data-verifromlocalize='contentScript.sidebar.copyright'>D&eacute;velopp&eacute; par </span>
        <a href='https://www.verifrom.com' target='_newtab' style='color: whitesmoke;' class='externallink'>VERIFROM</a>
        <div id='logoVerifrom'></div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<table class='SPsection SPsectionOK'>
    <tbody>
      <tr>
        <td>
          <p id="calltoaction" data-verifromlocalize='contentScript.sidebar.calltoaction'>Si vous consid&eacute;rez que les emails s&eacute;l&eacute;ctionn&eacute;s ci-contre sont du
          spam (pourriel), cliquez sur le bouton ci-dessous</p>
          <div class='SPOKBox' id='SigSpamOKBox' data-verifromlocalize='contentScript.sidebar.buttonlabel'>
            SIGNALER
          </div>
        </td>
      </tr>
      <tr>
        <td colspan='2'></td>
      </tr>
      <tr>
        <td>
          <p class='SPoriginalDesc'>
          <span data-verifromlocalize='contentScript.sidebar.disclosure'>En signalant ces e-mails, leur contenu sera transmis à nos services pour analyse afin de déployer, avec les acteurs appropriés les <a href='https://www.signal-spam.fr/comment-sont-traites-vos-signalements' target='_signalspam'  class='externallink'>contre-mesures adaptées</a>
            <BR/>Consulter <a href='https://www.signal-spam.fr/espace-membre' target='_signalspam' class='externallink'>l’historique de vos précédents signalements</a> sur votre compte Signal Spam.
          </span>
          </p>
          <p data-verifromlocalize='contentScript.sidebar.numbering'>Vous avez s&eacute;lectionn&eacute; <span id='VFSELECTEDMAILS'></span> emails &agrave; nous transmettre.</p>
          <p class='SPoriginalDesc'>
            <div id="zoomOriginalEmail">
            <div class="SPloupe"></div> <span data-verifromlocalize='contentScript.sidebar.zoom'> Visualisez le contenu transmis dans le signalement en cliquant sur la loupe :</span>
            </div>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
<script src="/js/popup.js" defer></script>
</body>
</html>
