<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="/css/sidebar.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="/js/popup.js" defer></script>
</head>
<body class="sidebarBody">
<table class='SPsection SPsectionLogo' id='SigSpamsectionLogo'>
	<tbody>
	<tr>
		<td rowspan="2" style="max-width:9vmin;"><a href='https://www.signal-spam.fr/espace-membre' target='_signalspam' class='externallink'><img src='https://vrf01.signal-spam.fr/extension/images/SignalSpam65.png' alt=
				'Signal Spam' class='SPlogo'/></a></td>
		<td rowspan="2">
			<div class='SPlogoTitle' data-verifromlocalize='contentScript.sidebar.title'>Signaler, c'est agir</div>
			<div id='verifromcopyright'>
				<span data-verifromlocalize='contentScript.sidebar.copyright'>D&eacute;velopp&eacute; par </span>
				<a href='https://www.verifrom.com' target='_newtab' style='color: whitesmoke;' class='externallink'>VERIFROM</a>
				<div id='logoVerifrom'></div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<table class='SPsection SPsectionOK' style="background:white; width:70%; margin-left:15%; margin-right:auto;">
	<tbody>
	<tr>
		<td>
			<div class="SPsectionOK" id="calltoaction" style="margin-top:10vh;">
				<span data-verifromlocalize='contentScript.sidebar.sendingmultiplereports' >Transmission des signalements en cours...</span><BR/>
				<span data-verifromlocalize='contentScript.sidebar.reportsNumber' >Nombre de signalements restant à transmettre : </span><span id="reportsNumber"></span>
			</div>
		</td>
		<BR/>
	</tr>
	<tr>
		<td style="text-align: center;width: 100%; margin-top: 20px;">
			<div id="spinner"></div>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>