<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Nouvelle version disponible</title>
	<link href="/css/sidebar.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="/js/popup.js" defer></script>
</head>
<body class="sidebarBody-Grey">
<table class='SPsection SPsectionLogo' id='SigSpamsectionLogo'>
	<tbody>
	<tr>
		<td rowspan="2" style="max-width:9vmin;"><a href='https://www.signal-spam.fr/espace-membre' target='_signalspam' class='externallink'><img src='https://vrf01.signal-spam.fr//extension/images/SignalSpam65.png' alt=
				'Signal Spam' class='SPlogo'/></a></td>
		<td rowspan="2">
			<div class='SPlogoTitle' data-verifromlocalize='contentScript.sidebar.title'>Signaler, c'est agir</div>
			<div id='verifromcopyright'>
				<span data-verifromlocalize='contentScript.sidebar.copyright'>D&eacute;velopp&eacute; par </span>
				<a href='https://www.verifrom.com' target='_newtab' style='color: whitesmoke;'  class='externallink'>VERIFROM</a>
				<div id='logoVerifrom'></div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
<table class='SPsection SPsectionOK'>
	<tbody>
	<tr>
		<td>
			<div class="SPsectionOK" data-verifromlocalize='contentScript.sidebar.newversionavailable'>Une nouvelle version de l'extension Signal Spam est disponible</div>
			<div class="SPsectionOK" data-verifromlocalize='contentScript.sidebar.newversionnumber'>Nouvelle version : <span id='VERSIONNUMBER'></span></div>
			<div class="SPsectionOK" data-verifromlocalize='contentScript.sidebar.currentversionnumber'>Version actuelle : <span id='CURRENTVERSIONNUMBER'></span></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class='SPsectionOK' data-verifromlocalize='contentScript.sidebar.calltoupdate'>Veuillez mettre à jour votre extension dans votre navigateur.</div>
			<div class='SPsectionOK' data-verifromlocalize='contentScript.sidebar.howtoupdate'>Pour procéder à la mise à jour, ouvrez l'onglet des extensions dans votre navigateur puis cliquez sur le bouton "Mettre à jour les extensions maintenant"</div>
		</td>
	</tr>
</table>
</body>
</html>