#lightningbutton-calendar
{
  -moz-image-region: rect(0px 504px 24px 480px);
}
#lightningbutton-calendar-new
{
  -moz-image-region: rect(0px 24px 24px 0px);
}
#lightningbutton-tasks
{
  -moz-image-region: rect(0px 576px 24px 552px);
}
#lightningbutton-tasks-new
{
  -moz-image-region: rect(0px 384px 24px 360px);
}
#lightningbutton-gomain
{
  list-style-image: url(chrome://messenger/skin/accountcentral/read-messages.png);
}
toolbar[iconsize="small"] #lightningbutton-calendar {
  -moz-image-region: rect(0px 336px 16px 320px);
}
toolbar[iconsize="small"] #lightningbutton-calendar-new {
  -moz-image-region: rect(0px 16px 16px 0px);
}
toolbar[iconsize="small"] #lightningbutton-tasks
{
  -moz-image-region: rect(0px 384px 16px 368px);
}
toolbar[iconsize="small"] #lightningbutton-tasks-new
{
  -moz-image-region: rect(0px 256px 16px 240px);
}
toolbar[iconsize="small"] #lightningbutton-gomain
{
  list-style-image: url(chrome://lightningbutton/skin/read-messages-small.png);
}