@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

#profSwitcherButtonTB .toolbarbutton-icon {
  width: 26px;
  height: 26px;
}

toolbar[iconsize="small"] #profSwitcherButtonTB .toolbarbutton-icon {
  width: 18px;
  height: 18px;
}


