@import url('chrome://mailmerge/content/style.css');

#mailmerge-content {
	width: 525px;
	height: auto;
	overflow: auto;
}

#mailmerge-content #mailmerge-csv-characterset {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	width: 225px;
	height: 20px;
	border: 0;
	margin: 5px;
	padding: 0;
}

#mailmerge-content #mailmerge-csv-characterset-select {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
