@import url('chrome://mailmerge/content/style.css');

#mailmerge-content {
	width: 775px;
	height: auto;
	overflow: auto;
}

#mailmerge-content span:nth-child(3) {
	white-space: pre-wrap;
	width: 500px;
}
