.option-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.indent {
  margin-left: 1.5em;
}

.indent2 {
  margin-left: 3em;
}

.indent3 {
  margin-left: 4.5em;
}

.box-visible{
  visibility: visible;
}

.box-collapse{
  display: none;
}

div.border {
  border: solid thin gray;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin: 3px 10px 0px 0px;
}

.titleline-simple {
  border-style: solid;
  border-color: silver;
  border-width: 0px 0px 2px 0px;
  /*
  margin: 10px 10px 7px 0px;
  padding: 3px 10px;
  */
}

.wideinput {
  width: 100%;
}

div.tagselect {
  border: solid thin gray;
  background-color: white;
  height: 9.5em;
  width: 15em;
  overflow: auto;
}

input.tagfilter {
  width: 15em;
}

table.conftable {
  border: solid thin silver;
  border-width: 1px;
  border-color: silver;
  background-color: white;
  border-collapse: collapse;
  /*
  margin: 3px 10px 0px 0px;
  */
}

td,
th {
  /*
  border-top: solid thin silver;
  border-bottom: solid thin silver;
  */
  border: solid thin silver;
  vertical-align: middle;
  padding: 3px 3px;
}