
/* --------- Small Toolbars & toolbarbuttons !! ----------- */

/* beware of affecting floating hctp-'home'-toolbar! */

@namespace      url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document  url(chrome://browser/content/browser.xul) {


toolbar:not(#TabsToolbar)  {
	--toolbarbutton-inner-padding: 3px !important;
}


:root:not([uidensity=compact]) #back-button {
  padding-top   : 0px !important;
  padding-bottom: 0px !important;
  padding-inline-start: 2px !important;
  
  margin-top   : -1px !important;
  margin-bottom: -1px !important;
}
:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
	padding: 3px !important;
	width:  24px !important;
	height: 24px !important;
}


#urlbar,
.searchbar-textbox {
	margin: 1px 4px !important;
	
	min-height: 22px !important;
}

.urlbar-icon { /* debe quedar siempre 16px para el icon */
  width : 22px !important;
  height: 20px !important;
  
  padding: 2px 3px !important;
}

#pageActionSeparator {
  height: 20px !important;
}



}  /*** moz-document url(...) ***/

