/* Default Thunderbird Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 
 * Source code following the 'DeepDark custom CSS' annotation is 
 * subject to the theme's terms of use. For more information you can
 * consult the README_LICENSE.txt file included in the theme's package. */

#acctCentralGrid {
/* DeepDark custom CSS */
  background-color: var(--deepdark-ash-color);
  color: var(--deepdark-content-color);
  margin-bottom: 1px;
/* DeepDark custom CSS - end */
}