#subjects_prefix_switchButton {
  list-style-image: url("resource://subjects_prefix_switch/sub_switch224.png");
}

toolbar[iconsize="small"] #subjects_prefix_switchButton {
  list-style-image: url("resource://subjects_prefix_switch/sub_switch216.png");
}

#subjects_prefix_switchMenuPopup-subtoolbarButton {
  margin-top: 0px;
  margin-bottom: 4px;
}

.subjects_prefix_switch-icon {
  list-style-image: url("resource://subjects_prefix_switch/sub_switch216.png");
}

dialog[OS=WINNT] legend.insideTab {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom:5px;
  background-color: -moz-Field;
}