/* This is just an example.  You shouldn't do this. */
#filemail-hello
{
  color: red ! important;
}
#filemail-toolbar-button
{
  list-style-image: url("chrome://FileMail/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#filemail-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #FileMail-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #FileMail-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
