#error-api {
    display: block;
    width: 360px;
}

#esign-preferences {
    font-weight: bold;
}

.toolbarbutton-1 .toolbarbutton-icon,
#esign-api-disabled-item .img {
    margin: 4px 2px;
    width: 24px;
    height: auto;
}

#esign-preferences .toolbarbutton-icon, #esign-api-disabled-item .img {
    width: 40px;
    height: 40px;
}

#esign-sign:hover {
    color: inherit;
    cursor: pointer;
}

.esign-sign-item-option {
    padding: 4px;
}