/*
    Lexicographer
*/
div#grammalecte_lxg_panel_content {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 13px;
}

div.grammalecte_lxg_list_of_tokens {
    margin: 10px 5px 0 5px;
    padding: 10px;
    background-color: hsla(0, 0%, 95%, 1);
    border-radius: 5px;
}

div.grammalecte_lxg_list_num {
    float: right;
    margin: -12px 0 5px 10px;
    padding: 5px 10px;
    font-family: "Trebuchet MS", "Fira Sans", "Ubuntu Condensed", "Liberation Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    background-color: hsl(0, 50%, 50%);
    color: hsl(0, 10%, 96%);
}

div.grammalecte_lxg_separator {
    margin: 20px 0;
    padding: 5px 5px;
    background-color: hsla(0, 0%, 75%, 1);
    color: hsla(0, 0%, 96%, 1);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

div.grammalecte_lxg_token_block  {
    margin: 4px 0;
}
div.grammalecte_lxg_token_subblock {
    margin: 2px 0 2px 20px;
    padding: 5px;
    border-left: 4px solid hsl(150, 30%, 70%);
    background-color: hsl(210, 10%, 90%);
    border-radius: 2px;
}
div.grammalecte_lxg_token_descr {
    margin: 1px;
    padding: 1px;
}
div.grammalecte_lxg_token {
    display: inline-block;
    background-color: hsl(150, 0%, 50%);
    color: hsl(0, 0%, 96%);
    padding: 2px 5px;
    border-radius: 2px;
    font-family: "Trebuchet MS", "Fira Sans", "Ubuntu Condensed", "Liberation Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
}
div.grammalecte_lxg_token_also {
    display: inline-block;
    margin-left: 5px;
    color: hsl(0, 0%, 50%);
    padding: 2px 5px;
    text-decoration: none;
}
div.grammalecte_lxg_token_colon {
    display: inline-block;
    padding: 2px 5px;
    font-family: "Trebuchet MS", "Fira Sans", "Ubuntu Condensed", "Liberation Sans", sans-serif;
    color: hsl(0, 0%, 50%);
}
div.grammalecte_lxg_morph_list {
    padding: 2px 0 2px 20px;
}
div.grammalecte_lxg_morph_elem_inline {
    display: inline-block;
    font-family: "Trebuchet MS", "Fira Sans", "Ubuntu Condensed", "Liberation Sans", sans-serif;
    color: hsl(0, 0%, 0%);
}
div.grammalecte_lxg_morph_elem {
    font-family: "Trebuchet MS", "Fira Sans", "Ubuntu Condensed", "Liberation Sans", sans-serif;
    color: hsl(0, 0%, 0%);
}
div.grammalecte_lxg_token_LOC {
    background-color: hsla(150, 50%, 30%, 1);
}
div.grammalecte_lxg_token_WORD {
    background-color: hsla(150, 50%, 50%, 1);
}
div.grammalecte_lxg_token_WORD_ELIDED {
    background-color: hsla(150, 30%, 50%, 1);
}
div.grammalecte_lxg_token_UNKNOWN_WORD {
    background-color: hsla(0, 50%, 50%, 1);
}
div.grammalecte_lxg_token_NUM {
    background-color: hsla(180, 50%, 50%, 1);
}
div.grammalecte_lxg_token_COMPLEX {
    background-color: hsla(60, 50%, 50%, 1);
}
div.grammalecte_lxg_token_PUNC {
    background-color: hsla(210, 50%, 50%, 1);
}
div.grammalecte_lxg_token_LINK {
    background-color: hsla(270, 50%, 50%, 1);
}
