/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.processIconBox image {
  list-style-image: url("defaultProcessIcon.png");
}

.eventIconBox image {
  list-style-image: url("defaultEventIcon.png");
}

.warningIconBox image {
  list-style-image: url("defaultWarningIcon.png");
}

image.syncMail {
  list-style-image: url("syncMailIcon.png");
}

image.sendMail {
  list-style-image: url("sendMailIcon.png");
}

image.copyMail {
  list-style-image: url("copyMailIcon.png");
}

image.moveMail {
  list-style-image: url("moveMailIcon.png");
}

image.deleteMail {
  list-style-image: url("deleteMailIcon.png");
}

image.addItem {
  list-style-image: url("addItemIcon.png");
}

image.removeItem {
  list-style-image: url("removeItemIcon.png");
}

image.undo {
  list-style-image: url("undoIcon.png");
}

image.indexMail {
  list-style-image: url("indexMailIcon.png");
}

image.compactMail {
  list-style-image: url("compactMailIcon.png");
}
