/* CSS */

#verb {
    width: 200px;
}

#verb_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: hsl(210, 50%, 50%);
}

#info {
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
}


.groupbox {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 275px;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 5px;
}

#smallnote {
    font-size: 10px;
    width: 250px;
}

.sub_header {
    color: hsl(0, 50%, 50%);
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

label.temps {
    color: hsl(210, 50%, 50%);
    font-size: 13px;
    font-weight: bold;
}
label.cj {
    font-size: 11px;
}
