.deleteAddress {
  -moz-box-ordinal-group: 0;
  cursor: default;
  margin-inline-end: 0;
  width: 0;
  height: 16px;
  transition-property: width, margin-inline-end;
  transition-duration: 50ms, 50ms;
  transition-timing-function: ease-in-out, ease-in-out;
}

.addressingWidgetCell:hover > .aw-menulist:not([open="true"]) + .deleteAddress {
  margin-inline-end: 3px;
  width: 16px;
}
