.hdrMailredirectButton {
  list-style-image: url("chrome://mailredirect-shared/skin/mail-toolbar.svg#redirect-flat");
}

toolbar[brighttext] .hdrMailredirectButton {
  list-style-image: url("chrome://messenger-shared/skin/icons/mail-toolbar.svg#redirect-inverted");
}

.hdrMailredirectButton[disabled="true"] {
  display: -moz-box !important;
}
