/* Default Thunderbird Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 
 * Source code following the 'DeepDark custom CSS' annotation is 
 * subject to the theme's terms of use. For more information you can
 * consult the README_LICENSE.txt file included in the theme's package. */


treechildren {
/* DeepDark custom CSS */
  --treechildren-selectedBorder: transparent !important;
  --treechildren-currentFocusBorder: transparent !important;
  --treechildren-selectedFocusBorder: transparent !important;
  --treechildren-selectedFocusCurrentBorder: transparent !important;
  --treechildren-hoverBorder: transparent !important;
  --treechildren-hoverCurrentBorder: transparent !important;
  --treechildren-hoverSelectedBorder: transparent !important;
/* DeepDark custom CSS - end */
}
