#filter_button-button-1{
  list-style-image: url("chrome://filter_button/skin/button.png");
  min-width:85px;
}

[iconsize="small"] #filter_button-button-1{
  list-style-image: url("chrome://filter_button/skin/buttonsmall.png");
}

#filter_button-button-1.filter_button_no_filters{
	color: rgb(108, 108, 108);
	display: -moz-box !important;
}

[iconsize="small"] #filter_button-button-1.filter_button_no_filters{
  	list-style-image: url("chrome://filter_button/skin/buttonsmall_empty.png") !important;
}
#filter_button-button-1.filter_button_no_filters{
  	list-style-image: url("chrome://filter_button/skin/button_empty.png") !important;
}
