/* ..... tree adjustments ..... */	

#catChange {   /*  this shows the button light-grey and outline enabled */
  list-style-image: url("chrome://reminderfox/skin/images/category.png");
}



#catLabel {
  padding-top: 4px;
}

/* to show outline of the other buttons on the window use this  */


#mainHeader {   				
	font-weight: bold;
}

#currentHeader{ 				
	font-weight: bold;
}




/*----------------
#catOK {
  list-style-image: url("chrome://reminderfox/skin/images/actionbuttons16.png");
   -moz-image-region: rect(16px, 48px, 32px, 32px);
	padding: 0px !important;
	padding-left: 2px !important;
}

#catOK:hover {  
   -moz-image-region: rect(0px, 48px, 16px, 32px);
	padding: 0px !important;
	padding-left: 2px !important;
}

#rmFxOK {
  list-style-image: url("chrome://reminderfox/skin/images/actionbuttons.png");
   -moz-image-region: rect(21px, 63px, 42px, 42px);
}

#rmFxOK:hover {    
   -moz-image-region: rect(0px, 63px, 21px, 42px);
}

#rmFxCancel {
  list-style-image: url("chrome://reminderfox/skin/images/closeN24.png");
   -moz-image-region: rect(0px, 24px, 24px, 0px);
	padding: 0px !important;
	padding-left: 2px !important;
}

#rmFxCancel:hover {    
   -moz-image-region: rect(0px, 48px, 24px, 24px);
}
--------------*/

/*
#sCatDelete {   
  list-style-image: url("chrome://reminderfox/skin/images/categories24_6.png");
   -moz-image-region: rect(0px, 24px, 24px, 0px);
}

#sCatDelete[selected="true"] {
   -moz-image-region: rect(0px, 48px, 24px, 24px);
}

#sCatEdit {   
  list-style-image: url("chrome://reminderfox/skin/images/categories24_6.png");
   -moz-image-region: rect(24px, 24px, 48px, 0px);
}

#sCatEdit[selected="true"] {
   -moz-image-region: rect(24px, 48px, 48px, 24px);
}


#sCatAdd {   
  list-style-image: url("chrome://reminderfox/skin/images/categories24_6.png");
   -moz-image-region: rect(48px, 48px, 72px, 24px);
}


#userCatUp {   
  list-style-image: url("chrome://reminderfox/skin/images/categories24_6.png");
   -moz-image-region: rect(72px, 24px, 96px, 0px);
}

#userCatUp[selected="true"] {
   -moz-image-region: rect(72px, 48px, 96px, 24px);
}
*/

