#folderSizeIcon {
  list-style-image: url("chrome://foldersize/content/folder.png");
  /*filter: brightness(1) invert(0);*/
}
.sfs-statusbarpanel-menu-iconic {
  max-height: 16px;
  padding-top: 3px;
}
