#threadTree treechildren::-moz-tree-row(notsent) {
  background-color: #D70022;
}

#threadTree treechildren::-moz-tree-cell-text(notsent) {
  color: white;
}

/* ::::: addressing widget ::::: */

.aw-firstColBox,
#firstcol-addressingWidget,
.dummy-row-cell:first-child {
  display: none;
}

/* ..... close button ..... */

#sidebar-close-button {
  padding-top: 1px;
  padding-bottom: 1px;
  -moz-padding-start: 4px;
  -moz-padding-end: 3px;
  list-style-image: url("chrome://communicator/skin/icons/close-button.gif");
}

#button-contacts {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons.png");
  -moz-image-region: rect(60px, 29px, 89px, 0);
}

#button-contacts:hover {
  -moz-image-region: rect(60px, 59px, 89px, 30px);
}

#button-contacts:hover:active {
  -moz-image-region: rect(60px, 59px, 89px, 30px);
}

#button-contacts[disabled="true"] {
  -moz-image-region: rect(60px, 89px, 89px, 60px) !important;
}

toolbar[iconsize="small"] > #button-contacts,
toolbar[iconsize="small"] > toolbarpaletteitem > #button-contacts {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addressbookicons-small.png");
  -moz-image-region: rect(40px, 19px, 59px, 0);
}

toolbar[iconsize="small"] > #button-contacts:hover {
  -moz-image-region: rect(40px, 39px, 59px, 20px);
}

toolbar[iconsize="small"] > #button-contacts:hover:active {
  -moz-image-region: rect(40px, 39px, 59px, 20px);
}

toolbar[iconsize="small"] > #button-contacts[disabled="true"] {
  -moz-image-region: rect(40px, 59px, 59px, 40px);
}
