#mailmindrComposer {
	-moz-appearance: none;
}

#mailmindrMessageComposeNotification {
    background-color: rgb(255, 204, 0) !important;
    background-image: url("chrome://global/skin/notification/warning-bar-background.png");
    background-position: center top;
    background-repeat: repeat-x;
    color: rgb(0, 0, 0.95);
    padding: 0.25em 0.5em;
}