body { background: whitesmoke; }

#_account {
  display: none;
}
.account {
	_border: 1px solid silver;
	margin-bottom: 1em;
}
.label {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.opts {
	display: inline-block;
}
.opts label {
	display: block;
}

#accesskeys label {
  display: block;
}
#accesskeys input {
  width: 1em;
}
