#mailredirect-toolbarbutton, toolbar #mailredirect-toolbarbutton {
  list-style-image: url("chrome://mailredirect-shared/skin/mail-toolbar.svg#redirect-flat") !important;
}

toolbar[brighttext] #mailredirect-toolbarbutton {
  list-style-image: url("chrome://mailredirect-shared/skin/mail-toolbar.svg#redirect-inverted");
}

toolbarpaletteitem[place="palette"] #mailredirect-toolbarbutton {
  list-style-image: url("chrome://mailredirect-shared/skin/mail-toolbar.svg#redirect-flat");
}

toolbarpaletteitem[place="palette"] #hdrMailredirectButton {
  list-style-image: url("chrome://mailredirect-shared/skin/mail-toolbar.svg#redirect-flat");
}
