/* Delete Trash Button extension */
/* default theme support */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#DeleteTrashButton {
	list-style-image: url(chrome://deletetrashbutton/skin/deletetrash.png);
}

#DeleteTrashButton:hover {
	list-style-image: url(chrome://deletetrashbutton/skin/deletetrash.png);
}

toolbar[iconsize="small"] #DeleteTrashButton {
	list-style-image: url(chrome://deletetrashbutton/skin/deletetrash-small.png);
}

toolbar[iconsize="small"] #DeleteTrashButton:hover {
	list-style-image: url(chrome://deletetrashbutton/skin/deletetrash-small.png);
}

#menu_emptyTrash {
	-moz-appearance: none !important;
	-moz-binding: url(chrome://global/content/bindings/menu.xml#menuitem-iconic);
	list-style-image: url(chrome://deletetrashbutton/skin/deletetrash-small.png) !important;
	-moz-image-region: rect(0px 16px 16px 0px) !important;
}

#folderPaneContext-emptyTrash {
	-moz-appearance: none !important;
	-moz-binding: url(chrome://global/content/bindings/menu.xml#menuitem-iconic);
	list-style-image: url(chrome://deletetrashbutton/skin/deletetrash-small.png) !important;
	-moz-image-region: rect(0px 16px 16px 0px) !important;
}
