.SPsection {
    background-color: window;
}

.SPsectionLogo {
    background-color: rgb(28, 89, 122);
    margin: 0px;
    max-height: 26px;
    height: 4vh;
    min-height: 6vh;
}

.SPsectionOK {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    cursor: default;
    text-align: justify;
}

.SPsectionInputs {
    margin-top: 0.8em;
}

.SPsectionTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    cursor: default;
    text-align: center;
    font-weight: bold;
}

.reportTransmissionLabel {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.SPOKBox {
    margin-left: 7vw;
    margin-right: 7vw;
    color: #276180;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 50px;
    -moz-appearance: button-bevel;
    max-width: 30em;
    font-size: 1.2em;
}

.SPoriginalDesc {
    text-align: justify;
    font-size: 11px;
    line-height: normal;
    cursor: default;
}

.SPLabel {
    text-align: right;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 15px;
    line-height: normal;
}

.SPSender {
    text-align: left;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 15px;
    line-height: normal;
}

.SPDate {
    text-align: left;
    vertical-align: top;
    font-family: sans-serif;
    font-size: 15px;
    line-height: normal;
}

.SPErrorMsg {
    text-align: center;
    font-size: 15px;
    line-height: normal;
    padding-bottom: 20px;
    padding-top: 20px;
}

.SPSpamErrorText {
    font-size: 15px;
    line-height: normal;
    text-align: justify;
}

.VF_zommOnOriginalDiv:focus {
    outline: currentcolor none medium;
}

.SPiframeSource {
    background: white none repeat scroll 0% 0%;
    height: 100%;
    display: block;
    z-index: 2147483647;
    border: 1px none;
    box-shadow: rgba(100, 100, 100, 0.2) 5px 5px 2px 1px;
    overflow: scroll;
}

.SPwrap {
    height: 100%;
    display: flex;
}

.SPframeScaled {
    height: 90vh;
    border: thin solid rgb(1, 35, 1);
    background: white none repeat scroll 0% 0%;
    margin-top: 8%;
    margin-bottom: 10%;
    transform: scale(0.3);
    transform-origin: 0px 0px 0px;
    margin-left: 3vw;
}

.signalspamSideBar-handler {
    cursor: pointer;
}

.signalspamSideBar-iframe-shield {
    top: 0px;
    left: 0px;
    height: 100%;
    background: transparent none repeat scroll 0% 0%;
    opacity: 0;
    z-index: -1;
}

.signalspamSideBar-bgshield {
    overflow: hidden;
}

.signalspamSideBar-preloader {
}

.signalspamSideBar-label-theme-default {
}

.signalspamSideBar-label-right-open-theme-default {
    height: 76px;
}

.signalspamSideBar-label-right-close-theme-default {
    height: 76px;
}

.signalspamSideBar-label-theme-default div {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
}

.signalspamSideBar-label-theme-default div.rotate {
    transform: rotate(-90deg);
}

.cssspinner-container *, .cssspinner-container ::before, .cssspinner-container ::after {
    box-sizing: border-box;
}

.cssspinner-container {
    margin: 94px auto;
    height: 56px;
}

.cssspinner-container > div {
    float: left;
    background: rgb(39, 97, 128) none repeat scroll 0% 0%;
    height: 100%;
    margin-right: 2px;
    display: inline-block;
}

.cssspinner-container .cssspinner-shaft1 {
    animation-delay: 0.06s;
}

.cssspinner-container .cssspinner-shaft2 {
    animation-delay: 0.12s;
}

.cssspinner-container .cssspinner-shaft3 {
    animation-delay: 0.17s;
}

.cssspinner-container .cssspinner-shaft4 {
    animation-delay: 0.23s;
}

.cssspinner-container .cssspinner-shaft5 {
    animation-delay: 0.29s;
}

.cssspinner-container .cssspinner-shaft6 {
    animation-delay: 0.35s;
}

.cssspinner-container .cssspinner-shaft7 {
    animation-delay: 0.4s;
}

.cssspinner-container .cssspinner-shaft8 {
    animation-delay: 0.46s;
}

.cssspinner-container .cssspinner-shaft9 {
    animation-delay: 0.52s;
}

.cssspinner-container .cssspinner-shaft10 {
    animation-delay: 0.58s;
}

.cssspinner-container > div {
    animation: 1.73s ease-in-out 0s infinite normal none running css-spinner;
    transform: scaleY(0.05) translateX(-19px);
}

@keyframes css-spinner {
    50% {
        transform: scaleY(1.2) translateX(19px);
        background: rgb(86, 215, 198) none repeat scroll 0% 0%;
    }
}

@keyframes css-spinner {
    50% {
        transform: scaleY(1.2) translateX(19px);
        background: rgb(86, 215, 198) none repeat scroll 0% 0%;
    }
}

@keyframes css-spinner {
    50% {
        transform: scaleY(1.2) translateX(19px);
        background: rgb(86, 215, 198) none repeat scroll 0% 0%;
    }
}

. {
    white-space: pre-wrap;
    overflow-wrap: normal;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 40vh;
    height: 30vh;
    border: black;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 2px;
    border-style: dotted;
    font-size: 0.9em;
    font-family: lucida-console, sans-serif;
    background-color: window;
}