#signalspam-button-alert, #signalspam-button[state="commiting"] {
    list-style-image: url("chrome://signalspam/skin/Throbber.gif");
}

#signalspam-button[disabled="true"] {
    list-style-image: url("chrome://signalspam/skin/icon19x19_disabled.svg");
}

toolbar[iconsize="small"] #signalspam-button[disabled="true"] {
    list-style-image: url("chrome://signalspam/skin/icon19x19_disabled.svg");
}

toolbar[iconsize="small"] #signalspam-button {
    list-style-image: url("chrome://signalspam/skin/icon19x19_enabled.svg");
}

#signalspam-button {
    list-style-image: url("chrome://signalspam/skin/icon19x19_enabled.svg");
}

toolbarbutton.signalspam-toolbarbutton {
    list-style-image: url("chrome://signalspam/skin/icon19x19_enabled.svg");
}

#signalspam-button-hdr[state="commiting"] {
    list-style-image: url("chrome://signalspam/skin/Throbber.gif");
}

#signalspam-button-hdr[disabled="true"] {
    list-style-image: url("chrome://signalspam/skin/icon19x19_disabled.svg");
}

toolbar[iconsize="small"] #signalspam-button-hdr[disabled="true"] {
    list-style-image: url("chrome://signalspam/skin/icon19x19_disabled.svg");
}

toolbar[iconsize="small"] #signalspam-button-hdr {
    list-style-image: url("chrome://signalspam/skin/icon19x19_enabled.svg");
}

#signalspam-button-hdr {
    list-style-image: url("chrome://signalspam/skin/icon19x19_enabled.svg");
}

toolbarbutton.signalspam-button-hdr {
    list-style-image: url("chrome://signalspam/skin/icon19x19_enabled.svg");
}

#signalspam-button-alert {
    list-style-image: url("chrome://signalspam/skin/icon19x19_disabled.svg") !important;
}


#signalspam-button-falsepositive {
    background-color:darkgreen;
    color:white;
}

[signalspam-badmail] {
    border: #BE0044;
    border-width:thick;
    border-style:solid;
    z-index:2147483600;
}

[signalspam-tip] {
    position: relative;
    cursor: no-drop;
    border-bottom: 2px dotted #BE0044;
    z-index: 2147483647;
}
/* on génère un élément :after lors du survol :*/

[signalspam-tip]:after {
    position: absolute;
    top: 5px;
    left: calc(100% + 1.2em);
    font-size: 1em;
    color: #D70022;
    z-index: 2147483647;
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPG1ldGFkYXRhIGlkPSJtZXRhZGF0YTQzNDgiPmltYWdlL3N2Zyt4bWw8L21ldGFkYXRhPgogIDxnIGNsYXNzPSJsYXllciI+CiAgICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgICA8ZyBpZD0ic3VyZmFjZTEiIHRyYW5zZm9ybT0ibWF0cml4KDAuMDc4MDY3NzQxNzk5MjU5NjcsMCwwLDAuMDc0ODM1NDEyMTkxMjMxNzMsLTAuMTEzMzEzNDY3NzM0NzIyNjQsOS43ODQxNzQ0MDE0NjY5NTYpICI+CiAgICAgIDxwYXRoIGZpbGw9IiNkNzAwMjIiIGQ9Im05MS4xNDkyOSwtMjAuNDc5MjFsMTIuMjYzMzMsLTE4LjgyOTVsLTI0LjUyNjY1LDBsMTIuMjYzMzIsMTguODI5NSIgaWQ9InBhdGg0Mjk3Ii8+CiAgICAgIDxwYXRoIGZpbGw9IiNkNzAwMjIiIGQ9Im04MC4wOTg5LC00NS44MjU2YzAsMCAtMTUuNzY4MDksMC4xNzg2NCAtMjUuMzc3NzIsLTkuMzE1NWMtOS42MDk2MiwtOS40ODA5MSAtOS40Mjg2OCwtMjUuMDQ4NjYgLTkuNDI4NjgsLTI1LjA0ODY2YzAsMCAxNS43NjEzOSwtMC4xNzg2NCAyNS4zNzc3MSw5LjMwMjI3YzkuNjA5NjIsOS40OTQxNSA5LjQyODY5LDI1LjA2MTg5IDkuNDI4NjksMjUuMDYxODkiIGlkPSJwYXRoNDI5OSIvPgogICAgICA8cGF0aCBmaWxsPSIjZDcwMDIyIiBkPSJtMTAyLjE5OTY5LC00NS44MjU2YzAsMCAxNS43NjEzOSwwLjE3ODY0IDI1LjM3NzcxLC05LjMxNTVjOS42MDk2MiwtOS40ODA5MSA5LjQyMTk5LC0yNS4wNDg2NiA5LjQyMTk5LC0yNS4wNDg2NmMwLDAgLTE1Ljc2ODA5LC0wLjE3ODY0IC0yNS4zNzEwMSw5LjMwMjI3Yy05LjYwOTYzLDkuNDk0MTUgLTkuNDI4NjksMjUuMDYxODkgLTkuNDI4NjksMjUuMDYxODkiIGlkPSJwYXRoNDMwMSIvPgogICAgICA8cGF0aCBmaWxsPSIjZDcwMDIyIiBkPSJtOTEuMzE3OTksLTEuNzQyNThjLTQzLjg4NjYzLDAgLTcxLjE3MjAzLC0xNy44Njk5MiAtNzEuMTcyMDMsLTUxLjkzNjM1YzAsLTM0LjE0NTg0IDQuNjM3MjcsLTQ2LjY0MDMgMjcuOTc3MDcsLTQ2LjQ1MTZjMjAuMDI2NSwwLjE2MTkyIDIxLjA5NzUsMi43NjUxNSAyOS4wMDk3Niw1LjQ3NDczbDE0LjAwOTgsNS45ODA3M2wxNi4yODk5NCwtNS40NDQwOWMwLjIxNDQ0LC0wLjEzMjMyIDguMDQzNTQsLTQuMDQzNjggMjguMzAxNDgsLTQuMDQzNjhjMjMuMzMzODQsMCAyNy44MDE2NywxMC4zMzgwNyAyNy44MDE2Nyw0NC40ODM5MWMwLDM0LjA2NjQzIC0yOC4zMzc3Nyw1MS45MzYzNSAtNzIuMjE3NjksNTEuOTM2MzV6bTg4LjE4NzU2LC01MS45MzYzNWMwLC03LjU0MjM5IC0wLjU1NjIxLC0xNC4xNzE3NSAtMS41NjE0LC0yMC4wMDcxOGwwLjA2MDQsMC4wNzkzOWwwLC00MC4xMzM0MmwtMzkuODEyMjUsMGMtMC44ODQ1NywtMC4wMzk2OSAtMS43NjI0MywtMC4wNjYxNiAtMi42MzM2LC0wLjA2NjE2Yy0xOC44OTc1OCwwIC0zNy45Njk0LDkuMzA4ODkgLTQ0LjQxNjAyLDEyLjc3NTc0Yy02LjQ1MzM3LC0zLjQ2Njg1IC0yNS41MjUxOSwtMTIuNzc1NzQgLTQ0LjQyMjc3LC0xMi43NzU3NGMtMC44NzExNywwIC0xLjc0OTA0LDAuMDI2NDcgLTIuNjMzNiwwLjA2NjE2bC0zOS41NTc2NCwwbDAsMzguOTM1OTFjLTEuMTMyNTIsNi4xMDAwNiAtMS43NjI0NCwxMy4wOTMzMSAtMS43NjI0NCwyMS4xMjUyOWMwLDI4LjE4NDcxIDIwLjg4MTE2LDUyLjUzODY3IDUwLjk0MzA2LDYzLjc5MjcxYy0yLjgyMTIzLDEuODk4ODIgLTQuNjc3NDgsNS4wODc3OSAtNC42Nzc0OCw4LjY5MzU4YzAsNi40MTc2NCA4LjI3NjA2LDIwLjUzNjQ3IDkuNzYzNzUsMjEuMjUxMDFjMC44NzExNiwwLjQ0OTg5IDEuOTU2NzcsMC4xNzIwMSAyLjUyNjM4LC0wLjYwODY5YzAuMzc1MjcsLTAuNTIyNjggMS45NjM0NywtMi45NjQwMiAzLjY5OTEsLTYuMTA2NjljMS45NTY3NywzLjU5OTE3IDMuODUzMjMsNi40MDQ0MSA0LjQ4MzE1LDYuNzE1MzhjMC44ODQ1NiwwLjQ0OTg5IDEuOTYzNDcsMC4xNzIwMSAyLjU0NjQ4LC0wLjYwODY5YzAuMzgxOTcsLTAuNTI5MjkgMS45NjM0NywtMi45NjQwMiAzLjY5OTEsLTYuMTEzMzFjMS45NjM0NywzLjYwNTc5IDMuODY2NjMsNi40MTEwMyA0LjUwMzI2LDYuNzIyYzAuODc3ODYsMC40NDk4OSAxLjk2MzQ3LDAuMTcyMDEgMi41NDY0OCwtMC42MDg2OWMwLjc0Mzg0LC0xLjA2NTE5IDYuNDMzMjIsLTkuOTA0MzUgOC4zNjMxOCwtMTYuNzM4OGMxLjk5MDI4LDYuOTkzMjQgNy44NjA2LDE2Ljc1MjAzIDkuMTAwMzQsMTcuMzQ3NDljMC44NTc3NiwwLjQ0OTg5IDEuOTM2NjYsMC4xNzIwMSAyLjUxMjk2LC0wLjYwODY5YzAuMzgxOTgsLTAuNTIyNjggMS45NzAxOCwtMi45NjQwMiAzLjcwNTgxLC02LjEwNjY5YzEuOTU2NzgsMy41OTkxNyAzLjg1OTkzLDYuNDA0NDEgNC40ODk4NSw2LjcxNTM4YzAuODc3ODcsMC40NDk4OSAxLjk3MDE4LDAuMTcyMDEgMi41Mzk3OSwtMC42MDg2OWMwLjM3NTI3LC0wLjUyOTI5IDEuOTYzNDcsLTIuOTcwNjQgMy43MDU3OSwtNi4xMTMzMWMxLjk1Njc4LDMuNTk5MTggMy44NTk5NCw2LjQxMTAzIDQuNDg5ODUsNi43MjJjMC44OTc5OCwwLjQ0OTg5IDEuOTcwMTgsMC4xNzIwMSAyLjU1MzE5LC0wLjYwODY5YzAuOTE4MDcsLTEuMjgzNTIgOS4wMDY1MSwtMTMuOTAwNDggOS4wMDY1MSwtMjAuNjQyMzJjMCwtMy42MDU3OSAtMS44NTYyNSwtNi44MDEzNyAtNC42ODQxOSwtOC42OTM1OGMzMC4wNTUyLC0xMS4yNjA2NiA1MC45MjI5NiwtMzUuNjE0NjIgNTAuOTIyOTYsLTYzLjc5MjciIGlkPSJwYXRoNDMwMyIvPgogICAgPC9nPgogICAgPHBhdGggZD0ibTE0OS4yNjEyOCwxMTMuNjA1MzdjMC4wMDYsLTAuNDc3OTQgMC4wNzA4LC0wLjYzODQgMC4xNDQyNiwtMC4zNTY1N2MwLjA3MzQsMC4yODE4NCAwLjA2ODYsMC42NzI4OCAtMC4wMTA3LDAuODY4OTljLTAuMDc5NCwwLjE5NjExIC0wLjEzOTQ0LC0wLjAzNDUgLTAuMTMzNTMsLTAuNTEyNDJsLTAuMDAwMDMsMHoiIGlkPSJwYXRoODQxIiB0cmFuc2Zvcm09InNjYWxlKDAuNzUpICIvPgogIDwvZz4KPC9zdmc+);
}

/* on génère un second élément en :before*/

[signalspam-tip]:before {
    position: absolute;
    top: 5px;
    left: 101%;
    font-size: 1em;
    color: #D70022;
    z-index: 2147483647;
    content: "⬅";
}

.signalspam-sidebarheader {
    background-color: rgb(28, 89, 122);
    border-bottom: 1px solid ThreeDShadow;
    border-top: 1px solid ThreeDHighlight;
    color: white;
    font-size: xx-small;
    margin-left: 3px;
    margin-right: 3px;
    min-height: 30px;
    padding-left: 5px;
    max-width: 50vw;
    max-height: 30px;
}

.signalspam-sidebarTitle {
    font-size: larger;
    margin-bottom: unset;
    padding: unset;
    margin-top: 4px;
}

.signalspamViewSingleMail {
    white-space: pre-wrap;
    overflow-wrap: normal;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 40vh;
    height: 30vh;
    border: black;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-width: 2px;
    border-style: dotted;
    font-size: 0.9em;
    font-family: lucida-console, sans-serif;
    background-color: whitesmoke;
    color: black;
}

#signalspamSendingSingleReport, #signalspamSingleReportSent, #signalspamSingleReportFailed {
    height: 30vh;
}

#sidebar-panels-splitter-box {
    max-height: calc(vh - 200px);
}

.signalspamReportFailure {
    color:red;
    font-weight:bold;
    text-align: center;
}

#signalspam-button:before {
    border:unset;
    display: table-cell;
    position:relative;
    content:attr(signalspam_reportsNumber);
    background-color: rgba(0,0,0,0.6);
    border: none;
    color: white;
    font-weight: bold;
    padding: unset;
    margin:unset;
    top:0em;
    left:1em !important;
    /*! float:left; */
    z-index: 1;
    border-radius: 10%;
    /*! border-style: outset; */
    /*! border-width: 9px; */
    width: 1em;
    text-align: center;
    border-color: lightgrey;
    visibility: visible;
    font-size-adjust: 0.5;
}

.signalspam_statusbar {
    display: none;
    visibility: hidden;
}

.signalspam_statusbar_visible {
    display: inherit;
    visibility: visible;
}