hbox#outerBox {
  margin:10px;
}

vbox#mainBox {
  margin-left:5px;
  font-size:1.2em;
}

label#titleLabel {
  direction:ltr;
  width:500px;
}

#progressIcon {
   vertical-align:middle;
   width:64px;
   height:64px;
   list-style-image: url(chrome://hyperactive/skin/hyperactive64.png);
}
