.popup-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 170px;
  height: 300px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  font-size: 13px;
  overflow: auto;
}

.vertical-middle{
  vertical-align: middle;
}

.checkbox-visible{
  visibility: visible;
}

.checkbox-collapse{
  display: none;
}