.tool {
    min-width: 1em;
}

#id-add {
    list-style-image: url('chrome://fid/skin/plus-small.png');
}

#id-remove {
    list-style-image: url('chrome://fid/skin/minus-small.png');
}

#id-up {
    list-style-image: url('chrome://fid/skin/up-small.png');
}

#id-down {
    list-style-image: url('chrome://fid/skin/down-small.png');
}

#id-window {
    padding: 10px;
}

.button-gap {
    height: 6px;
}

#id-manage {
    padding-left: 8px;
}

#id-panels {
    padding: 6px;
}
