#mailredirect-toolbarbutton {
  -moz-image-region: rect(0px, 24px, 24px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect.png");
}

#mailredirect-toolbarbutton:hover {
  -moz-image-region: rect(24px, 24px, 48px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect.png");
}

#mailredirect-toolbarbutton[disabled="true"] {
  -moz-image-region: rect(48px, 24px, 72px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect-small.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect-small.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton[disabled="true"] {
  -moz-image-region: rect(32px, 16px, 48px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect-small.png");
}
