<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./index.css" />
        <title data-i18n="view.options.title"></title>
    </head>
    <body>
        <aside>
            <div class="mailmindr-sidebar-links">
                <ul>
                    <li>
                        <button
                            class="mailmindr-jump-button"
                            data-jump-to="#mailmindr-common_settings"
                            data-i18n="view.options.jump-button.common-settings"
                        ></button>
                    </li>
                    <li>
                        <button
                            class="mailmindr-jump-button"
                            data-jump-to="#mailmindr-presets"
                            data-i18n="view.options.jump-button.presets"
                        ></button>
                    </li>
                    <li>
                        <button
                            class="mailmindr-jump-button"
                            data-jump-to="#mailmindr-get_help"
                            data-i18n="view.options.jump-button.get-help"
                        ></button>
                    </li>
                </ul>
            </div>
            <div class="mailmindr-sidebar-footer">
                <button
                    class="mailmindr-button mailmindr-button--micro mailmindr-sponsorlink mailmindr-button-web"
                    data-web="https://mailmindr.net/sponsor"
                    data-i18n="view.options.sidebar-footer.sponsor"
                ></button>
            </div>

            <div id="mailmindr-ui-lock">
                <div class="mailmindr-ui-lock-shim" />
                <div class="mailmindr-ui-lock-message" tabindex="1">
                    <div>
                        <div>
                            <h2>
                                🔐
                                <span
                                    data-i18n="view.options.message.dialog-open.heading"
                                ></span>
                            </h2>
                            <p
                                data-i18n="view.options.message.dialog-open.text"
                            ></p>
                        </div>
                        <div>
                            <button
                                value="bring-to-front"
                                class="mailmindr-lock-action"
                                data-i18n="view.options.message.dialog-open.button.dialog-to-front"
                            ></button>
                            <button
                                value="proceed-anyways"
                                class="mailmindr-lock-action"
                                data-i18n="view.options.message.dialog-open.button.proceed-anyways"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <section>
                <h1>mailmindr.</h1>
            </section>
            <section>
                <fieldset>
                    <legend>
                        <h2
                            id="mailmindr-common_settings"
                            data-i18n="view.options.heading.common-settings"
                        ></h2>
                    </legend>
                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.snooze-time.label"
                                for="mailmindr-options_snooze-time"
                            ></label>
                            <span
                                class="mailmindr-option-description"
                                id="mailmindr-options_snooze-time--description"
                                data-i18n="view.options.snooze-time.description"
                            >
                            </span>
                        </div>
                        <div>
                            <input
                                type="number"
                                id="mailmindr-options_snooze-time"
                                aria-describedby="mailmindr-options_snooze-time--description"
                            />
                        </div>
                    </div>
                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                for="mailmindr-options_default-time-preset"
                                data-i18n="view.options.default-time-preset.label"
                            ></label>
                            <span
                                class="mailmindr-option-description"
                                id="mailmindr-options_default-time-preset--description"
                                data-i18n="view.options.default-time-preset.description"
                            >
                            </span>
                        </div>
                        <div>
                            <select id="mailmindr-options_default-time-preset">
                            </select>
                        </div>
                    </div>
                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.default-action-preset.label"
                            ></label>
                            <span
                                class="mailmindr-option-description"
                                id="mailmindr-options_default-action-preset--description"
                                data-i18n="view.options.default-action-preset.description"
                            >
                            </span>
                        </div>
                        <div>
                            <select
                                id="mailmindr-options_default-action-preset"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.default-icebox-folder.label"
                            ></label>
                            <span
                                class="mailmindr-option-description"
                                id="mailmindr-options_default-icebox-folder--description"
                                data-i18n="view.options.default-icebox-folder.description"
                            >
                            </span>
                        </div>
                        <div>
                            <select
                                id="mailmindr-options_default-icebox-folder"
                            >
                            </select>
                        </div>
                    </div>
                </fieldset>
            </section>

            <section>
                <fieldset>
                    <legend>
                        <h2
                            id="mailmindr-presets"
                            data-i18n="view.options.heading.presets"
                        ></h2>
                    </legend>
                    <div class="mailmindr-options">
                        <div
                            data-i18n="view.options.time-presets.subtitle"
                        ></div>
                        <span
                            class="mailmindr-option-description"
                            id="mailmindr-options_time-preset-list--description"
                            data-i18n="view.options.time-presets.description"
                        >
                        </span>
                        <div class="mailmindr-options_time-preset-list-wrapper">
                            <select
                                id="mailmindr-options_time-preset-list"
                                size="7"
                                class="mailmindr-list"
                            >
                            </select>
                            <div
                                class="mailmindr-options_time-preset-list-button-bar"
                            >
                                <button
                                    id="mailmindr-timespan-preset-add"
                                    class="mailmindr-button"
                                    data-i18n="view.options.time-presets.button.add-preset"
                                ></button>
                                <button
                                    id="mailmindr-timespan-preset-edit"
                                    class="mailmindr-button"
                                    data-i18n="view.options.time-presets.button.edit-preset"
                                ></button>
                                <button
                                    id="mailmindr-timespan-preset-remove"
                                    class="mailmindr-button"
                                    data-i18n="view.options.time-presets.button.remove-preset"
                                ></button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </section>

            <section>
                <fieldset>
                    <legend>
                        <h2
                            id="mailmindr-get_help"
                            data-i18n="view.options.heading.get-help"
                        ></h2>
                    </legend>
                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.get-help.website.label"
                                for="mailmindr-get_help-website"
                            ></label>
                            <span
                                data-i18n="view.options.get-help.website.description"
                                class="mailmindr-option-description"
                                id="mailmindr-get_help-website--description"
                            >
                            </span>
                        </div>
                        <div>
                            <button
                                class="mailmindr-button-web mailmindr-button"
                                id="mailmindr-get_help-website"
                                data-web="https://mailmindr.net/"
                                data-i18n="view.options.get-help.website.button-label"
                            ></button>
                        </div>
                    </div>
                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.get-help.twitter.label"
                                for="mailmindr-get_help-twitter"
                            ></label>
                            <span
                                data-i18n="view.options.get-help.twitter.description"
                                class="mailmindr-option-description"
                                id="mailmindr-get_help-twitter--description"
                            >
                            </span>
                        </div>
                        <div>
                            <button
                                class="mailmindr-button-web mailmindr-button"
                                id="mailmindr-get_help-twitter"
                                data-web="https://twitter.com/mailmindr/"
                                data-i18n="view.options.get-help.twitter.button-label"
                            ></button>
                        </div>
                    </div>

                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.get-help.patreon.label"
                                for="mailmindr-get_help-patreon"
                            ></label>
                            <span
                                data-i18n="view.options.get-help.patreon.description"
                                class="mailmindr-option-description"
                                id="mailmindr-get_help-patreon--description"
                            >
                            </span>
                        </div>
                        <div>
                            <button
                                class="mailmindr-button-web mailmindr-button"
                                id="mailmindr-get_help-patreon"
                                data-web="https://patreon.com/arndissler/"
                                data-i18n="view.options.get-help.patreon.button-label"
                            ></button>
                        </div>
                    </div>

                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.get-help.paypal.label"
                                for="mailmindr-get_help-paypal"
                            ></label>
                            <span
                                data-i18n="view.options.get-help.paypal.description"
                                class="mailmindr-option-description"
                                id="mailmindr-get_help-paypal--description"
                            >
                            </span>
                        </div>
                        <div>
                            <button
                                class="mailmindr-button-web mailmindr-button"
                                id="mailmindr-get_help-paypal"
                                data-web="https://paypal.me/mailmindr"
                                data-i18n="view.options.get-help.paypal.button-label"
                            ></button>
                        </div>
                    </div>

                    <div class="mailmindr-options mailmindr-options--oneline">
                        <div>
                            <label
                                data-i18n="view.options.get-help.facebook.label"
                                for="mailmindr-get_help-facebook"
                            ></label>
                            <span
                                data-i18n="view.options.get-help.facebook.description"
                                class="mailmindr-option-description"
                                id="mailmindr-get_help-facebook--description"
                            >
                            </span>
                        </div>
                        <div>
                            <button
                                class="mailmindr-button-web mailmindr-button"
                                id="mailmindr-get_help-facebook"
                                data-web="https://facebook.com/mailmindr/"
                                data-i18n="view.options.get-help.facebook.button-label"
                            ></button>
                        </div>
                    </div>
                </fieldset>
            </section>
        </main>

        <script type="module" src="./index.js"></script>
    </body>
</html>
