#calendar-task-details-description{
	display:none;
}
#advancedTaskDescription-container > .textbox-input-box{
	display:none;
}

#advancedTaskDescription-container{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}