---
---

@import "/docs/_sass/_tables.scss";
// @import "{{ site.theme }}";

// site CSS

.test2 {
	color: aqua;
}


.content {
	margin-right: 40px;
    margin-left: 40px;
    // padding: 15px 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


table {
	border: 1px solid black;
	border-collapse: collapse;
}