---
---

@import "_tables.scss";
// @import "{{ site.theme }}";

// site CSS

.test2 {
	color: aqua;
}


.content {
	margin-right: 40px;
    margin-left: 40px;
    // padding: 15px 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-lg {
	margin-right: 20px !important;
    margin-left: 20px !important;
    // padding: 15px 0;
}

header {
	display: none;
}

.markdown-body {
	// font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
	@extend .table;
	@extend .table-bordered;
	@extend .table-striped;
	@extend .table-sm;
	@extend .thead-dark;
	border-collapse: collapse;
}

th {
	background-color: cornflowerblue !important;
}

td {
	text-align: left;
}
