/* ------------------------------------------ */
/* ::::: message column icons ::::: */

/* ..... subject column ..... */

treechildren::-moz-tree-image(subjectCol, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-redirected.png");
}

treechildren::-moz-tree-image(subjectCol, forwarded, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-forwarded-redirected.png");
}

treechildren::-moz-tree-image(subjectCol, replied, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-replied-redirected.png");
}

treechildren::-moz-tree-image(subjectCol, replied, forwarded, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-replied-forwarded-redirected.png");
}
