.hdrMailredirectButton, toolbarpaletteitem[place="palette"] #hdrMailredirectButton {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  list-style-image: url("chrome://mailredirect-shared/skin/mailredirect-small.png");
}

.hdrMailredirectButton[disabled="true"] {
  display: -moz-box !important;
}
