
.test1 {
	color: red;
}

table {
	border: 1px solid red;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto:200');
}

body {
	font-family: 'Roboto';
}