#AddressBookTab-button {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

toolbar[iconsize="small"] #AddressBookTab-button {
 list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

.tabmail-tab[type="addressBookTab"] .tab-icon-image {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}

.alltabs-item[type="AddressBook"] .menu-iconic-icon {
  list-style-image: url("chrome://messenger/skin/addressbook/icons/addrbook.png");
}


