
menulist[hctp_appbutton="true"] > menupopup > menuitem {
  -moz-binding: url("chrome://global/content/bindings/menu.xml#menuitem-base"); /* NO anonymous content!! */
}


menulist[hctp_appbutton="true"]  .menulistLabel-outerbox {
	margin: 1px 2px;
	min-width: 128px;
}
menulist[hctp_appbutton="true"]  .menulistLabel-outerbox  button {
	-moz-user-focus: ignore;
}

menulist[hctp_appbutton="true"] > .menulist-label-box {
  border: 1px dotted transparent;
}
menulist[hctp_appbutton="true"] > .menulist-label-box  +  dropmarker {
  margin: 0px -2px;
}
/*  from Thunderbird_17's chrome://global/skin/menulist.css  */
menulist[hctp_appbutton="true"]:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box {
  background-color: Highlight;
  color: HighlightText;
}
menulist[hctp_appbutton="true"]:-moz-focusring:not([open="true"]) > .menulist-label-box {
  border: 1px dotted #F5DB95;
}

menulist[hctp_appbutton="true"] {
	max-width: 15em !important;
	overflow: hidden !important; /* x-solo NO es suficiente p/ texto largo! */
}

