#identitychooser-send-notification a {
    text-decoration: underline;
    font-weight: bold;
}

/*
#msgSubject, .addressingWidgetCell:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.75);
}

#msgIdentity {
    background-color: rgba(255, 255, 255, 0.55);
}
*/