/* ------------------------------------------ */
/* ::::: message column icons ::::: */

/* ..... subject column ..... */

treechildren::-moz-tree-image(subjectCol, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-mail-redirected.png ");
}

treechildren::-moz-tree-image(subjectCol, forwarded, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-mail-forwarded-redirected.png");
}

treechildren::-moz-tree-image(subjectCol, replied, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-mail-replied-redirected.png");
}

treechildren::-moz-tree-image(subjectCol, replied, forwarded, kw-redirected) {
  list-style-image: url("chrome://mailredirect-shared/skin/message-mail-replied-forw-redirected.png");
}
