#mailredirect-toolbarbutton {
  -moz-image-region: rect(0px, 29px, 29px, 0px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

#mailredirect-toolbarbutton:hover {
  -moz-image-region: rect(0px, 59px, 29px, 30px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

#mailredirect-toolbarbutton:hover:active {
  -moz-image-region: rect(0px, 89px, 29px, 60px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

#mailredirect-toolbarbutton[disabled="true"] {
  -moz-image-region: rect(0px, 119px, 29px, 90px) !important;
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton {
  -moz-image-region: rect(0px, 19px, 19px, 0px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect-small.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton:hover {
  -moz-image-region: rect(0px, 39px, 19px, 20px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect-small.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton:hover:active {
  -moz-image-region: rect(0px, 59px, 19px, 40px);
  list-style-image: url("chrome://mailredirect/skin/mailredirect-small.png");
}

toolbar[iconsize="small"] #mailredirect-toolbarbutton[disabled="true"] {
  -moz-image-region: rect(0px, 79px, 19px, 60px) !important;
  list-style-image: url("chrome://mailredirect/skin/mailredirect-small.png");
}
