/* All platforms */

@namespace html url("http://www.w3.org/1999/xhtml");

/* New tab button on the tabbar. */
#new-tab-button {
  list-style-image: url("chrome://global/skin/icons/add.svg");
}

/* Move to MoreLayouts? */
.tabmail-tab[selected]:focus .tab-background {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--focus-outline-color);
  outline-offset: -2px;
  border-radius: var(--toolbarbutton-border-radius); /* 3px; */
}
.tabmail-tab[selected]:focus .tab-background:-moz-lwtheme {
  outline-color: var(--toolbar-field-focus-border-color);
  outline-offset: -3px;
}
.tabmail-tab[selected]:focus .tab-background > .tab-line[selected="true"] {
  background-color: transparent;
}

.tabmail-tab[visuallyselected]:focus::before,
.tabmail-tab[visuallyselected]:focus::after,
.tabmail-tab[visuallyselected]:focus + .tabmail-tab::before,
#tabmail-arrowscrollbox[orient="vertical"] > .tabmail-tab[selected]:focus .tab-background[selected="true"],
.tabmail-tab[selected]:focus > .tab-stack > .tab-content > .tab-label-container {
  border-color: transparent;
}

/* Contextmenus */
#copyUrlPopup[linknode] > menuitem.urlpopup,
#aboutPagesContext[linknode] > menuitem.urlpopup {
  display: block;
}

#copyUrlPopup > menuitem.urlpopup,
#aboutPagesContext > menuitem.urlpopup,
#copyUrlPopup[linknode] > menuitem:not(.urlpopup),
#aboutPagesContext[linknode] > menuitem:not(.urlpopup) {
  display: none;
}

/*******************************************************************************
 *  Make the fake urlbar look like someone cares..
 ******************************************************************************/
#url-toolbox {
  visibility: visible;
}
#url-toolbox[hidden] {
  display: block;
  visibility: collapse;
}

#back-button {
  list-style-image: url("chrome://messenger/skin/icons/goback.svg");
}

#forward-button {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg");
}

/* Animations for these buttons are a large copy/paste; skip em. */
#reload-button {
  list-style-image: url("chrome://messenger/skin/icons/restore.svg");
  transform: rotateY(180deg);
}

#stop-button {
  list-style-image: url("chrome://messenger/skin/icons/stop.svg");
}

/*******************************************************************************
 * Include browser.css from Fx.
%include browser.css
 ******************************************************************************/

/*******************************************************************************
 * For extra browser.css from shared/browser.inc.css (partial).
 * 41cd945ed2443dc592f2674b16c5bdda5620995f
 * created 2021-06-25 00:03 +0000
 * pushed 2021-06-25 09:34 +0000
 ******************************************************************************/
:root {
  --button-bgcolor: color-mix(in srgb, currentColor 13%, transparent);
  --button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent);
  --button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent);
  --button-color: currentColor;

  --identity-box-margin-inline: 4px;
  --identity-box-label-opacity: .8;
  --urlbar-box-bgcolor: var(--button-bgcolor);
  --urlbar-box-hover-bgcolor: var(--button-hover-bgcolor);
  --urlbar-box-active-bgcolor: var(--button-active-bgcolor);

  --urlbar-min-height: 28px; /* Override 32px; */
  --urlbar-icon-fill-opacity: 0.9;
  --urlbar-icon-padding: 6px; /* (32px - 2px border - 2px padding - 16px icon) / 2 */
  /* This should be used for icons and chiclets inside the input field. It makes
     the gap around them more uniform when they are close to the field edges */
  --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
  --urlbar-popup-url-color: -moz-nativehyperlinktext;
  /* Change from %define to var */
  --urlbarBreakoutExtend: 2px;
}

@media (prefers-contrast) {
  :root {
    --autocomplete-popup-separator-color: color-mix(in srgb, currentColor 86%, transparent);
    --urlbar-icon-fill-opacity: 1;
  }
}

/*******************************************************************************
 * End extra browser.inc.css
 ******************************************************************************/

/*******************************************************************************
 * End browser.css
 ******************************************************************************/

/*******************************************************************************
 * Include identity-block.inc.css from Fx.
%include identity-block.inc.css
 ******************************************************************************/

/*******************************************************************************
 * TODO: For extra identity-block.inc.css from [os]/browser.css.
 ****************************************************************************** /


/*******************************************************************************
 * End extra identity-block.inc.css
 ******************************************************************************/

/* These 3 rules are to display about:blank in messagepane properly */
#identity-box[pageproxystate="invalid"].chromeUI {
  margin-inline-end: 8px;
}
#identity-box[pageproxystate="invalid"].chromeUI > .identity-box-button {
  padding-inline: 8px;
  border-radius: var(--urlbar-icon-border-radius);
  background-color: var(--urlbar-box-bgcolor);
}
#identity-box[pageproxystate="invalid"].chromeUI #identity-icon-label {
  display: inline-block;
  opacity: var(--identity-box-label-opacity);
}

#identity-box[pageproxystate="valid"].extensionPage #identity-icon {
  list-style-image: url(chrome://messenger/content/extension.svg);
}

/* Size the box */
#identity-icon-box {
  padding-block: 2px;
  margin-inline-start: 2px;
}

/* To display uncropped extension name. */
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button {
  display: flex;
}
#identity-box[pageproxystate="valid"].extensionPage #identity-icon-label {
  width: max-content;
}
/*******************************************************************************
 * End identity-block.inc.css
 ******************************************************************************/


/*******************************************************************************
 * Include urlbar-searchbar.inc.css from Fx.
%include urlbar-searchbar.inc.css
 ******************************************************************************/

/*******************************************************************************
 * Override urlbar-searchbar.inc.css
 ******************************************************************************/

#urlbar-container {
  padding-block: 0;
  margin-inline: 5px; /* @urlbarMarginInline@ */
}
#urlbar {
  height: var(--urlbar-min-height);
}
#urlbar-go-button {
  list-style-image: url("chrome://messenger/skin/icons/goforward.svg");
}
#urlbar:not([focused="true"]):hover > #urlbar-background {
  border-color: hsla(240,5%,5%,.35); /* @fieldHoverBorderColor@; */
  box-shadow: 0 1px 6px rgba(0,0,0,.1);
}
#urlbar[focused="true"] > #urlbar-background {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
}

/*******************************************************************************
 * End urlbar-searchbar.inc.css
 ******************************************************************************/
