/* All platforms */

/* Options/Preferences */

#container {
  padding: 8px;
  overflow: hidden;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
}

.panel {
  margin: 8px;
  padding: 2px;
  overflow: hidden;
}

#container * {
  user-select: text;
}

fieldset {
  border: 0;
  margin-bottom: 0;
}
fieldset#contentZoomFieldset {
  border-width: 1px;
  border-style: solid;
}
fieldset[disabled] #contentZoomFieldset {
  border-color: threedshadow;
}
fieldset[disabled] label,
fieldset[disabled] legend {
  opacity: .5;
}

#contentBaseHeader {
  font-size: inherit;
  font-family: mono;
}

.inputlabel > * {
  vertical-align: middle;
}

.inputlabel,
input[type="radio"] {
  margin-inline-start: 4px;
}

input[type="number"] {
  width: 4em;
  text-align: end;
}
input[type="number"]:last-child {
  padding-inline-start: 10px;
}

hr {
  border-color: transparent;
}

/* From mozapps aboutaddons.css
 * 2021-05-10 https://hg.mozilla.org/mozilla-central/rev/2e8c89be4b84*/
.tab-group {
  display: block;
  margin-top: 8px;
  /* Pull the buttons flush with the side of the card
  margin-inline: calc(var(--card-padding) * -1); */
  border-bottom: 1px solid var(--in-content-border-color);
  border-top: 1px solid var(--in-content-border-color);
  font-size: 0;
  line-height: 0;
}

button.tab-button {
  appearance: none;
  border-inline: none;
  border-block: 2px solid transparent;
  border-radius: 0;
  background: transparent;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 4px 16px;
}

button.tab-button:hover {
  border-top-color: var(--in-content-box-border-color);
}

button.tab-button[selected],
button.tab-button[selected]:hover {
  border-top-color: currentColor;
  color: var(--in-content-accent-color);
}

@media (prefers-contrast) {
  button.tab-button[selected],
  button.tab-button[selected]:hover {
    color: var(--in-content-primary-button-text-color);
    background-color: var(--in-content-primary-button-background);
  }
}

button.tab-button:-moz-focusring {
  outline-offset: -2px;
}

.tab-group[last-input-type="mouse"] > button.tab-button:-moz-focusring {
  outline: none;
  box-shadow: none;
}
/* End mozapps aboutaddons.css */

button.tab-button {
  min-width: max-content;
}

.small-detail {
  font-size: smaller;
  display: block;
}

.small-detail-indent {
  margin-inline-start: 2.4em;
}

.small-note {
  width: -moz-available;
  font-size: smaller;
}

button {
  width: max-content;
}
