/* All platforms */

/* Options/Preferences */
#maxContentTabs {
 width: 3.1em;
 text-align: end;
}

#contentBaseLabel {
  margin-inline-start: 30px;
}

.small-detail {
  margin-inline-start: 30px;
  font-size: smaller;
}

#linkClickOptions {
   margin: 6px 0 0 30px;
   padding: 0;
   border: none;
}

.small-note {
  width: -moz-available;
  font-size: smaller;
}
