/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Address Book menuitem icons */

.abMenuItem[AddrBook="true"] {
  list-style-image: url("./icons/addrbook.png");
}

.abMenuItem[MailList="true"] {
  list-style-image: url("./icons/ablist.png");
}

.abMenuItem[AddrBook="true"][IsRemote="true"] {
  list-style-image: url("./icons/remote-addrbook.png");
}

.abMenuItem[AddrBook="true"][IsRemote="true"][IsSecure="true"] {
  list-style-image: url("./icons/secure-remote-addrbook.png");
}
