@import url("chrome://messenger/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.bitmaskAccountWizardTitle {
  font-size: 150%;
  font-weight: bold;
}

.bitmaskNotificationBar {
  color: black;
  font-weight:bold;
  background-color: #add8e6;
}
