#mailredirect-toolbarbutton {
  list-style-image: url("chrome://mailredirect/skin/mailredirect.png");
}

/* Default icons have a built-in glow, so they are 18*18px even in small mode,
   except for the large back icon, which is why the code below uses 'auto'
   rather than 18px. This will pick the correct size based on the image
   region. */
:-moz-any(
    #mailredirect-toolbarbutton
    ) .toolbarbutton-icon {
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
}
