/* :::::: Close button icons ::::: */

.close-icon {
  -moz-appearance: none;
  -moz-context-properties: fill, fill-opacity;
  list-style-image: url("chrome://mailredirect-shared/skin/close-small.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  color: inherit !important;
  fill: currentColor;
  fill-opacity: 0;
}

.close-icon:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
  fill-opacity: 0.1;
}

.close-icon:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
  fill-opacity: 0.2;
}

.close-icon > .button-icon,
.close-icon > .button-box > .button-icon,
.close-icon > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}
