#reportspam_button_spamham {
	list-style-image: url("chrome://reportspam/skin/antispam.png");
	display: inline;
}

#reportspam_button_phishing {
	list-style-image: url("chrome://reportspam/skin/phishing.png");
	display: inline;
}
