/* This is just an example. You shouldn't do this. */
/* menuitem#mail_sent_notifier-hello {             */
/*   color: red !important;                        */
/* }                                               */
.red {
  color:#bb0000;
}

.green {
  color:#00aa00;
}

.prefs_label_vbox {
  width:195px;
  font-weight:bold;
  vertical-align:top;
}