/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://mailsummaries/content/folderSummary.css");

.starred  .star {
  background-image: url("chrome://messenger/skin/icons/flaggedmail.png");
  height: 16px;
  width: 16px;
  margin-top: calc((1.2em - 16px)/2);
  -moz-margin-start: calc(-16px - 0.25em);
}

