#bounce-toolbox {
  -moz-appearance: none;
  background-color: var(--toolbar-bgcolor);
  border-bottom: 1px solid var(--toolbox-border-bottom-color);
}

#bounce-toolbox:-moz-lwtheme {
  background-color: var(--toolbar-bgcolor);
  color: var(--toolbar-color, inherit);
  /* Uses a background image instead of a border to avoid jumping of the toolbar
     when a theme is enabled. */
  background-image: linear-gradient(to bottom, var(--tabs-border-color, transparent) 1px, transparent 1px);
}

#bounce-toolbox > toolbar[brighttext] {
  --toolbarbutton-text-color: #fff;
  --toolbarbutton-hover-background: rgba(255, 255, 255, .25);
  --toolbarbutton-hover-bordercolor: rgba(255, 255, 255, .5);
  --toolbarbutton-header-bordercolor: rgba(255, 255, 255, .25);

  --toolbarbutton-active-background: rgba(255, 255, 255, .4);
  --toolbarbutton-active-bordercolor: rgba(255, 255, 255, .7);
  --toolbarbutton-active-boxshadow: 0 0 0 1px rgba(255, 255, 255, .4) inset;

  --toolbarbutton-checkedhover-backgroundcolor: rgba(255, 255, 255, .5);
}

#bounce-toolbox > toolbar:-moz-lwtheme {
  --toolbarbutton-text-color: currentColor;
  --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, rgba(255, 255, 255, .25));
  --toolbarbutton-hover-bordercolor: var(--lwt-toolbarbutton-hover-background, rgba(0, 0, 0, .2));

  --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, rgba(70%, 70%, 70%, .25));
  --toolbarbutton-active-bordercolor: var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .3));
  --toolbarbutton-active-boxshadow: 0 0 2px var(--lwt-toolbarbutton-active-background, rgba(0, 0, 0, .6)) inset;

  --toolbarbutton-checkedhover-backgroundcolor: var(--lwt-toolbarbutton-hover-background, rgba(85%, 85%, 85%, .25));
}

#bounceContentBox {
  background-color: -moz-dialog;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) inset;
}

#bounceContentBox:-moz-window-inactive {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.deleteAddress {
  -moz-box-ordinal-group: 0;
  cursor: default;
  margin-inline-end: 0;
  margin-bottom: 1px;
  width: 0;
  height: 18px;
  transition-property: width, margin-inline-end;
  transition-duration: 50ms, 50ms;
  transition-timing-function: ease-in-out, ease-in-out;
}

.addressingWidgetCell:hover > .aw-menulist:not([open="true"]) + .deleteAddress {
  margin-inline-end: 3px;
  width: 18px;
}

/* :::::: Close button icons ::::: */

.close-icon {
  -moz-appearance: none;
  -moz-context-properties: fill, fill-opacity;
  list-style-image: url("chrome://mailredirect-shared/skin/close.svg");
  color: inherit;
  fill: currentColor;
  fill-opacity: 0;
}

.close-icon:hover {
  fill-opacity: 0.1;
}

.close-icon:hover:active {
  fill-opacity: 0.2;
}
