#my-panel {
	 /*min-width: 1em;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
  margin-top: 1px;
  margin-bottom: 2px;
 
  important required to override primaryToolbar.css rules 
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;*/
  list-style-image: url("chrome://kmaleonext/skin/icon-small.png");
  vertical-align: top;
}

toolbar[iconsize="small"] #my-panel {
  list-style-image: url("chrome://kmaleonext/skin/icon-small.png");
}
#my-panel2 {
	 /*min-width: 1em;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
  margin-top: 1px;
  margin-bottom: 2px;
 
  important required to override primaryToolbar.css rules 
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;*/
  list-style-image: url("chrome://kmaleonext/skin/AnexarRef.png");
  vertical-align: top;
}

toolbar[iconsize="small"] #my-panel2 {
  list-style-image: url("chrome://kmaleonext/skin/AnexarRef.png");
}

#buttonexterior {
	 /*min-width: 1em;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
  margin-top: 1px;
  margin-bottom: 2px;
 
  important required to override primaryToolbar.css rules 
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;*/
  list-style-image: url("chrome://kmaleonext/skin/icon-big.bmp");

}

toolbar[iconsize="small"] #buttonexterior {
  list-style-image: url("chrome://kmaleonext/skin/icon-small.png");
}
#buttonexteriorR {
	 /*min-width: 1em;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
  margin-top: 1px;
  margin-bottom: 2px;
 
  important required to override primaryToolbar.css rules 
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;*/
  list-style-image: url("chrome://kmaleonext/skin/AnexarRef.png");

}

toolbar[iconsize="small"] #buttonexteriorR {
  list-style-image: url("chrome://kmaleonext/skin/AnexarRef.png");
}

#save-attachment{
	/*min-width: 1em;
	-moz-margin-start: 2px !important;
	-moz-margin-end: 2px !important;
	margin-top: 1px;
	margin-bottom: 2px;

	important required to override primaryToolbar.css rules 
	-moz-padding-start: 3px !important;
	-moz-padding-end: 3px !important;
	list-style-image: url("chrome://kmaleonext/skin/icon-bigA.bmp");*/
	/*list-style-image: url("chrome://kmaleonext/skin/icon-smallA.png");*/
	vertical-align: top;
}
#save-attachment-ref{
	/*min-width: 1em;
	-moz-margin-start: 2px !important;
	-moz-margin-end: 2px !important;
	margin-top: 1px;
	margin-bottom: 2px;

	important required to override primaryToolbar.css rules 
	-moz-padding-start: 3px !important;
	-moz-padding-end: 3px !important;
	list-style-image: url("chrome://kmaleonext/skin/icon-bigA.bmp");*/
	/*list-style-image: url("chrome://kmaleonext/skin/icon-smallA.png");*/
	vertical-align: top;
}

/*
toolbar[iconsize="small"] #save-attachment{
  list-style-image: url("chrome://kmaleonext/skin/icon-smallA.png");
}*/

#buttonexteriorA {
	 /*min-width: 1em;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
  margin-top: 1px;
  margin-bottom: 2px;
 
  important required to override primaryToolbar.css rules 
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;*/
  list-style-image: url("chrome://kmaleonext/skin/icon-bigA.png");

}

toolbar[iconsize="small"] #buttonexteriorA {
  list-style-image: url("chrome://kmaleonext/skin/icon-bigA.png");
}
#buttonexteriorAR {
	 /*min-width: 1em;
  -moz-margin-start: 2px !important;
  -moz-margin-end: 2px !important;
  margin-top: 1px;
  margin-bottom: 2px;
 
  important required to override primaryToolbar.css rules 
  -moz-padding-start: 3px !important;
  -moz-padding-end: 3px !important;*/
  list-style-image: url("chrome://kmaleonext/skin/AdjuntoRef.png");

}

toolbar[iconsize="small"] #buttonexteriorAR {
  list-style-image: url("chrome://kmaleonext/skin/AdjuntoRef.png");
}
#send_new {
    /*min-width: 1em;
    -moz-margin-start: 2px !important;
    -moz-margin-end: 2px !important;
    margin-top: 1px;
    margin-bottom: 2px;

    important required to override primaryToolbar.css rules 
    -moz-padding-start: 3px !important;
    -moz-padding-end: 3px !important;*/
    list-style-image: url("chrome://kmaleonext/skin/icon-small.png");
    vertical-align: top;
}


/*
#popup_attach {

  menu-iconic: url("chrome://kmaleonext/skin/icon-smallA.png");

}

toolbar[iconsize="small"] #popup_attach{
  menu-iconic: url("chrome://kmaleonext/skin/icon-smallA.png");
}
*/
