/*
// * Software:	Thunderbird Add-on "TRANSLITERUSSIAN"
// * Version:	0.2 beta
// * Date:		2020-05-09
// * Author:	Vlad Koutsenok (www.koutsenok.de)
// * File:		design.css
*/
body {
 background-color:#666666;
 margin: 3px;
 width: auto;
}
#header {
  width: auto;
  margin-left: 10px 3px auto 3px;
  height: 20px;
  font: normal bold 18px Courier New;
  color: #ffff00;
}
#content {
  width: auto;
  height: 350px;
  padding: 2px;	
  text-align:left;
  font: normal normal 13px Courier New;
  color: #eeeeee;
}
#footer {
  width: auto;
  height: 10px;
  margin: 7px 0px 4px 2px;
  font: normal bold 10px Courier New;
  color: #ffff00;
}
#footer a{
  text-decoration: none;
  color: #ffff00;
}
#footer a:hover{
  text-decoration: underline;
}
