/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: directory pane icons ::::: */

treechildren::-moz-tree-image(DirCol) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addrbook.png");
}

treechildren::-moz-tree-image(DirCol, IsMailList-true) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/ablist.png");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/remote-addrbook.gif");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true, IsSecure-true) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/secure-remote-addrbook.gif");
}
