/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#button-newcard {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#button-newlist {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar.png");
  -moz-image-region: rect(0px 48px 24px 24px);
}

#button-editcard {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar.png");
  -moz-image-region: rect(0px 72px 24px 48px);
}

#button-newmessage {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar.png");
  -moz-image-region: rect(0px 96px 24px 72px);
}

#button-newim {
 list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar.png");
 -moz-image-region: rect(0px 120px 24px 96px);
}
 
#button-abdelete {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar.png");
  -moz-image-region: rect(0px 144px 24px 120px);
}

/* ::::: small primary toolbar buttons ::::: */

toolbar[iconsize="small"] #button-newcard {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #button-newlist {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #button-editcard {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar-small.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

toolbar[iconsize="small"] #button-newmessage {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar-small.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[iconsize="small"] #button-newim {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar-small.png");
  -moz-image-region: rect(0px 80px 16px 64px);
}

toolbar[iconsize="small"] #button-abdelete {
   list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addressbook-toolbar-small.png");
  -moz-image-region: rect(0px 96px 16px 80px);
}

/* ::::: directory pane icons ::::: */

treechildren::-moz-tree-image(DirCol) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/addrbook.png");
}

treechildren::-moz-tree-image(DirCol, IsMailList-true) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/ablist.png");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/remote-addrbook.png");
}

treechildren::-moz-tree-image(DirCol, IsRemote-true, IsSecure-true) {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/secure-remote-addrbook.png");
}

treechildren::-moz-tree-image(GeneratedName) {
  margin-inline-start: -16px;
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/abcard.png");
}

treechildren::-moz-tree-image(GeneratedName, MailList) {
  margin-inline-start: -16px;
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/ablist.png");
}

/* ::::: card view pane ::::: */

#cvPhoto {
  list-style-image: url("chrome://phoenityIcons/skin/addressbook/icons/contact-generic.png");
}
