
/* ::::: autocomplete icons ::::: */

treechildren::-moz-tree-image(exquilla-abook) {
  -moz-margin-start: 2px;
  -moz-margin-end: 5px;
  list-style-image: url("chrome://exquilla/skin/letter-x-icon-16.png");
}
