/* COMPAT for TB 68 */
#CreateAccountExquilla {
  background: url("chrome://exquilla/skin/letter-x-icon-16.png") no-repeat;
}

#CreateAccountExquilla:-moz-locale-dir(rtl) {
  background-position: right center;
}
/* COMPAT for TB 68 */

#setupExquilla::before {
  background-image: url("chrome://exquilla/skin/letter-x-icon-16.png");
}
