/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chat/status.css");

@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";
@namespace html "http://www.w3.org/1999/xhtml";

.startChatBubble {
  list-style-image: url('chat/prpl-generic/icon.png');
  box-shadow: none !important;
}

.closeConversationButton {
  margin-inline-end: 0;
  -moz-stack-sizing: ignore;
  list-style-image: url("./icons/Search-close.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
  box-shadow: none !important;
}
.closeConversationButton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
.closeConversationButton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

.userIcon[src=""] {
  background-image: url("./icons/userIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.status-overlay-icon[status="away"],
.status-overlay-icon[status="unavailable"] {
  list-style-image: url('chat/away.png');
}

.status-overlay-icon[status="idle"] {
  list-style-image: url('chat/idle.png');
}

.status-overlay-icon[status="mobile"] {
  list-style-image: url('chat/mobile.png');
}

.status-overlay-icon[status="offline"] {
  list-style-image: url('chat/offline.png');
}

.status-overlay-icon[status="unknown"] {
  list-style-image: url('chat/unknown.png');
}

#searchResultConv > .prplBuddyIcon > .protoIcon {
  list-style-image: url("./icons/Search-glass.png");
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#logTree,
.conv-nicklist {
  -moz-appearance: none;
  border: none;
  margin: 0;
}

.im-placeholder-button-box > button {
  -moz-appearance: button;
}

/* Toolbar icons */

#chat-toolbar {
  padding: 0px 3px;
}

@media (-moz-os-version: windows-win7),
       (-moz-os-version: windows-win8),
       (-moz-os-version: windows-win10) {
  #chat-toolbar {
    padding: 1px 4px;
  }
}

#chat-toolbar[iconsize="small"] {
  padding: 0px 2px;
}

#chat-toolbar .toolbarbutton-1 .toolbarbutton-icon {
  padding: 2px;
}

#chat-toolbar #button-chat-appmenu .toolbarbutton-icon  {
  padding: 1px;
}

#chat-toolbar[iconsize="small"] .toolbarbutton-1 .toolbarbutton-icon ,
#statusTypeIcon.toolbarbutton-1 > .toolbarbutton-icon {
  width: 18px;
  height: 18px;
}

#chat-toolbar[iconsize="small"] #button-chat-appmenu .toolbarbutton-icon {
  padding: 1px;
  margin: -1px;
}

#statusTypeIcon.toolbarbutton-1 > .toolbarbutton-icon {
  padding: 1px;
}

#button-add-buddy {
  list-style-image: url("./icons/chat-toolbar.png");
  -moz-image-region: rect(0px 22px 22px 0px);
}

toolbar[iconsize="small"] #button-add-buddy {
  list-style-image: url("./icons/chat-toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#button-join-chat {
  list-style-image: url("./icons/chat-toolbar.png");
  -moz-image-region: rect(0px 44px 22px 22px);
}

toolbar[iconsize="small"] #button-join-chat {
  list-style-image: url("./icons/chat-toolbar-small.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

#button-chat-accounts {
  list-style-image: url("./icons/chat-toolbar.png");
  -moz-image-region: rect(0px 66px 22px 44px);
}

toolbar[iconsize="small"] #button-chat-accounts {
  list-style-image: url("./icons/chat-toolbar-small.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

#chat-status-selector dropmarker .dropmarker-icon {
  opacity: .9;
}

#statusTypeIcon[status="available"],
#statusTypeAvailable,
.statusTypeIcon[status="available"],
#imStatusAvailable,
#appmenu_imStatusAvailable,
richlistitem[state="connected"] .accountStateIcon {
  list-style-image: url("./icons/status.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#statusTypeIcon[status="idle"],
.statusTypeIcon[status="idle"] {
  list-style-image: url("./icons/status.png");
  -moz-image-region: rect(0px 32px 16px 16px);
}

#statusTypeIcon[status="offline"],
#statusTypeIcon[status="invisible"],
#statusTypeOffline,
.statusTypeIcon[status="offline"],
.statusTypeIcon[status="invisible"],
#imStatusOffline,
#appmenu_imStatusOffline,
richlistitem[state="disconnected"] .accountStateIcon {
  list-style-image: url("./icons/status.png");
  -moz-image-region: rect(0px 48px 16px 32px);
}

#statusTypeIcon[status="unavailable"],
#statusTypeIcon[status="away"],
#statusTypeUnavailable,
.statusTypeIcon[status="unavailable"],
.statusTypeIcon[status="away"],
#imStatusUnavailable,
#appmenu_imStatusUnavailable {
  list-style-image: url("./icons/status.png");
  -moz-image-region: rect(0px 64px 16px 48px);
}

toolbar[mode="text"] #statusTypeIcon .toolbarbutton-icon {
  display: -moz-box;
}

#displayNameAndstatusMessageStack #statusMessage {
  margin: 32px 0 0;
}

#displayNameAndstatusMessageStack  #statusMessage[editing] {
  margin: 30px 0 1px -2px;
}

#displayNameAndstatusMessageStack #displayName[editing] {
  margin-left: -2px;
  margin-bottom: 18px;
}

.tabmail-tab[type="chat"],
.alltabs-item[type="chat"] {
  list-style-image: url("./chat/chat-16.png");
}
