body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 20em;
    height: 20em;
    padding: 30px;
    color: #323232;
    background-color: #dcdcdc;
    text-align: center;
    vertical-align: middle;
}