/* Default Thunderbird Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 
 * Source code following the 'DeepDark custom CSS' annotation is 
 * subject to the theme's terms of use. For more information you can
 * consult the README_LICENSE.txt file included in the theme's package. */

checkbox {
/* DeepDark custom CSS */
  -moz-appearance: none !important;
/* DeepDark custom CSS - end */
}

/* ::: Disabled State ::: */

checkbox[disabled="true"] {
/* DeepDark custom CSS */
  color: var(--deepdark-disabled-content-color) !important;
/* DeepDark custom CSS - end */
}

/* ::: Checkmark Image ::: */

.checkbox-check {
/* DeepDark custom CSS */
  -moz-appearance: none !important;
  border: 1px solid var(--deepdark-content-color);
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  border-radius: var(--deepdark-border-radius);
  width: 1.3em;
  height: 1.3em;
/* DeepDark custom CSS - end */
}

.checkbox-check[disabled="true"] {
/* DeepDark custom CSS */
  border-color: var(--deepdark-disabled-content-color);
/* DeepDark custom CSS - end */
}

.checkbox-check[checked]{
/* DeepDark custom CSS */
  -moz-context-properties: fill;
  fill: var(--deepdark-accent-color);
  background-image: url("icons/checkbox/cbox-check.svg");
  background-repeat: no-repeat;
  background-size: 1.3em 1.3em;
  background-position: center center;
  border-color: var(--deepdark-accent-color);
/* DeepDark custom CSS - end */
}

.checkbox-check[checked][disabled="true"]{
/* DeepDark custom CSS */
  opacity: .75;
/* DeepDark custom CSS - end */
}
