/* Default Thunderbird Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 
 * Source code following the 'DeepDark custom CSS' annotation is 
 * subject to the theme's terms of use. For more information you can
 * consult the README_LICENSE.txt file included in the theme's package. */

.portrait-page,
.landscape-page {
/* DeepDark custom CSS */
  -moz-context-properties: fill;
  fill: currentColor;
/* DeepDark custom CSS - end */
}

.portrait-page {
/* DeepDark custom CSS */
  list-style-image: url("chrome://DeepdarkOverlay/skin/icons/Portrait.svg");
/* DeepDark custom CSS - end */
}

.landscape-page {
/* DeepDark custom CSS */
  list-style-image: url("chrome://DeepdarkOverlay/skin/icons/Landscape.svg");
/* DeepDark custom CSS - end */
}

caption > label {
/* DeepDark custom CSS */
  background-color: transparent !important;
  color: var(--deepdark-accent-color);
/* DeepDark custom CSS - end */
}
