#AHT-statusbarpanel-icon[AHT-htmlStatus="Original"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_color.svg");
}

#AHT-statusbarpanel-icon[AHT-htmlStatus="Sanitized"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_sanitized.svg");
}
:-moz-lwtheme-brighttext #AHT-statusbarpanel-icon[AHT-htmlStatus="Sanitized"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_sanitized_inverted.svg") !important;
}

#AHT-statusbarpanel-icon[AHT-htmlStatus="Plaintext"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_plaintext.svg");
}
:-moz-lwtheme-brighttext #AHT-statusbarpanel-icon[AHT-htmlStatus="Plaintext"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_plaintext_inverted.svg") !important;
}

#AHT-feed-statusbarpanel-icon {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_feed.svg");
}

.aht-statusbarpanel {
  padding-left: 4px;
  padding-right: 4px;
}

.aht-menu-iconic-text {
  margin-left: 0;
}