#AHT-statusbarpanel-icon[AHT-htmlStatus="Original"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_color.svg");
}

#AHT-statusbarpanel-icon[AHT-htmlStatus="Sanitized"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_sanitized_contextcolor.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#AHT-statusbarpanel-icon[AHT-htmlStatus="Plaintext"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_plaintext_contextcolor.svg");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

#AHT-feed-statusbarpanel-icon {
  list-style-image: url("resource://allowhtmltemp/skin/aht_statusbar_feed.svg");
}

.aht-statusbarpanel {
  padding-left: 4px;
  padding-right: 4px;
}

.aht-menu-iconic-text {
  margin-left: 0;
}