.hdrAHTButton .toolbarbutton-icon {
  width: 16px;
  height: 16px;
  min-width: unset;
  min-height: unset;
}

.toolbarAHTButton .toolbarbutton-icon {
  width: 18px;
  height: 18px;
  min-width: unset;
  min-height: unset;
}

#AllowHTMLtemp,
#hdrAHTButton,
#AllowHTMLtemp[AHT-htmlStatus="Original"],
#tabbar-toolbar #AllowHTMLtemp[AHT-htmlStatus="Original"],
toolbar #AllowHTMLtemp[AHT-htmlStatus="Original"],
#hdrAHTButton[AHT-htmlStatus="Original"],
[place="palette"]>#hdrAHTButton {
  list-style-image: url("resource://allowhtmltemp/skin/aht_button_color.svg");
}

#AllowHTMLtemp[AHT-htmlStatus="Plus"],
#tabbar-toolbar #AllowHTMLtemp[AHT-htmlStatus="Plus"],
#hdrAHTButton[AHT-htmlStatus="Plus"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_button_color_plus.svg");
}

#AllowHTMLtemp[AHT-htmlStatus="Sanitized"],
#tabbar-toolbar #AllowHTMLtemp[AHT-htmlStatus="Sanitized"],
toolbar #AllowHTMLtemp[AHT-htmlStatus="Sanitized"],
#hdrAHTButton[AHT-htmlStatus="Sanitized"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_button_sanitized.svg");
}

#AllowHTMLtemp[AHT-htmlStatus="Plaintext"],
#tabbar-toolbar #AllowHTMLtemp[AHT-htmlStatus="Plaintext"],
toolbar #AllowHTMLtemp[AHT-htmlStatus="Plaintext"],
#hdrAHTButton[AHT-htmlStatus="Plaintext"] {
  list-style-image: url("resource://allowhtmltemp/skin/aht_button_plaintext.svg");
}
