.popup-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 450px;
  height: 500px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  font-size: 13px;
  overflow: auto;
}

.vertical-middle{
  vertical-align: middle;
}

.box-visible{
  visibility: visible;
}

.box-collapse{
  display: none;
}

div.border {
  border: solid thin silver;
  background-color: ghostwhite;
  padding: 3px 3px 3px 3px;
  margin: 3px 10px 0px 0px;
}

div.noborder {
  padding: 3px 3px 3px 3px;
  margin: 3px 10px 0px 0px;
}

.dia_list {
  list-style-image: url("../images/dia_item.gif") !important;
}

table.addrtable {
  border: solid thin silver;
  border-width: 1px;
  border-color: silver;
  background-color: ghostwhite;
  border-collapse: collapse;
  margin: 3px 10px 0px 0px;
  width: 100%;
}

td {
  border-top: solid thin silver;
  border-bottom: solid thin silver;
  vertical-align: middle;
  padding: 3px 3px;
}

td.wfix {
  width: 1.5em;
}

.titleline-simple {
  border-style: solid;
  border-color: #48c;
  border-width: 0px 0px 2px 0px;
  margin: 10px 10px 7px 0px;
  padding: 3px 10px;
}

hr {
  color: silver;
  margin-right: 10px;
}

p {
  margin-right: 10px;
}