.cardbook-td-input > input {
	width: 90%;
}

.cardbook-large-column {
    width: 60%;
}
.cardbook-large2-column {
    width: 80%;
}

#validateGoogleButton {
    background-color: transparent !important;
    width: 240px !important;
    height: 50px !important;
	list-style-image: url("chrome://cardbook/content/skin/Google_validate.png");
}
