.cardbookTreeClass treechildren::-moz-tree-checkbox(dummyForScroll) {
	list-style-image: url("chrome://cardbook/content/skin/checkbox-images.png");
	-moz-image-region: rect(0 65px 13px 52px);
}
.cardbookTreeClass treechildren::-moz-tree-checkbox(accountEnabled) {
	list-style-image: url("chrome://cardbook/content/skin/checkbox-images.png");
	-moz-image-region: rect(0 65px 13px 52px);
}
.cardbookTreeClass treechildren::-moz-tree-checkbox(accountEnabled, level0) {
	list-style-image: url("chrome://cardbook/content/skin/checkbox-images.png");
	-moz-image-region: rect(0 13px 13px 0);
}
.cardbookTreeClass treechildren::-moz-tree-checkbox(accountEnabled, level0, checked) {
	list-style-image: url("chrome://cardbook/content/skin/checkbox-images.png");
	-moz-image-region: rect(0 26px 13px 13px);
}
.cardbookTreeClass treechildren::-moz-tree-image(accountTypeCheckbox, localdb) {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/localdb.svg");
}
.cardbookTreeClass treechildren::-moz-tree-image(accountTypeCheckbox, file) {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/file.svg");
}
.cardbookTreeClass treechildren::-moz-tree-image(accountTypeCheckbox, directory) {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/directory.svg");
}
.cardbookTreeClass treechildren::-moz-tree-image(accountTypeCheckbox, remote) {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/remote.svg");
}
.cardbookTreeClass treechildren::-moz-tree-image(accountTypeCheckbox, search) {
	list-style-image: url("chrome://messenger/skin/icons/search-glass.svg");
}

.cardbookTreeClass treechildren::-moz-tree-image(accountStatusCheckbox, readonly) {
	list-style-image: url("chrome://cardbook/content/skin/icons/locked.svg");
}
.cardbookTreeClass treechildren::-moz-tree-image(accountStatusCheckbox, syncing) {
	list-style-image: url("chrome://cardbook/content/skin/icons/synchronize.svg");
}

.cardbookTreeChildrenConfigClass treechildren::-moz-tree-checkbox() {
	list-style-image: url("chrome://cardbook/content/skin/checkbox-images.png");
	-moz-image-region: rect(0 13px 13px 0);
}
.cardbookTreeChildrenConfigClass treechildren::-moz-tree-checkbox(checked) {
	list-style-image: url("chrome://cardbook/content/skin/checkbox-images.png");
	-moz-image-region: rect(0 26px 13px 13px);
}
