:root {
  --toolbarbutton-icon-fill-attention: var(--lwt-toolbarbutton-icon-fill-attention, #0a84ff);
}

#wdw_cardbookConfigurationWindow {
	appearance: none;
	font: message-box;
	background-color: var(--in-content-page-background);
	color: var(--in-content-page-color);
}

#cardbook-prefBox {
	position: relative;
}

#cardbook-pref-category-box {
	background-color: var(--in-content-categories-background);
	width: 240px;
}

#cardbook-preferences-stack {
	min-height: 0;
}


#cardbook-preferencesContainer {
  padding: 40px 28px;
  overflow: auto;
}

#wdw_cardbookConfigurationWindow prefpane {
  max-width: 800px;
  padding: 0;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

#wdw_cardbookConfigurationWindow prefpane:not([selected]) {
  display: none;
}


/* Preference tabs */
radio[pane=cardbook-generalPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/general.svg");
}
radio[pane=cardbook-CardBookPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/display.svg");
}
radio[pane=cardbook-advancedPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/advanced.svg");
}
radio[pane=cardbook-IMPPPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/chat.svg");
}
radio[pane=cardbook-customFieldsPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/link.svg");
}
radio[pane=cardbook-listsPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/addlist.svg");
}
radio[pane=cardbook-syncPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/synchronize.svg");
}
radio[pane=cardbook-emailPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/compose.svg");
}
radio[pane=cardbook-birthdaylistPane] > .radio-check {
	list-style-image: url("chrome://cardbook/content/skin/icons/smiley.svg");
}
