#cardbookToolbarAddServerButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/address.svg");
}
#cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/synchronize.svg");
}
#cardbookToolbarWriteButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/newmsg.svg");
}
#cardbookToolbarChatButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/chat.svg");
	-moz-context-properties: fill, fill-opacity, stroke-opacity;
	stroke-opacity: 0;
}
#cardbookToolbarConfigurationButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/prefs.svg");
}
#cardbookToolbarPrintButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/print.svg");
}
#cardbookToolbarBackButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/goback.svg");
}
#cardbookToolbarForwardButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/goforward.svg");
}
#cardbookToolbarComplexSearch {
	list-style-image: url("chrome://cardbook/content/skin/icons/search.svg");
}
#cardbookToolbarNewEvent {
	list-style-image: url("chrome://cardbook/content/skin/icons/newevent.svg");
}
#cardbookToolbarNewTodo {
	list-style-image: url("chrome://cardbook/content/skin/icons/newtask.svg");
}
#cardbookToolbarAddContactButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addcontact.svg");
}
#cardbookToolbarAddListButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/addlist.svg");
}
#cardbookToolbarEditButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/edit.svg");
}
#cardbookToolbarRemoveButton {
	list-style-image: url("chrome://cardbook/content/skin/icons/delete.svg");
}
