.subjectcleaner-setting-listitem {
  border-left: none;
  border-right: none;
  border: solid 0px;
  border-radius: 0px;
  margin: 0px;
}

.subjectcleaner-setting-checkbox {
  display: block;
  text-align: center;
  margin-top: 4px;
}
