/* All platforms */

/* Options/Preferences */

#container {
  padding: 8px;
  overflow: hidden;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
  /* Fix for odd bottom artifacts in dark theme */
  min-height: 260px;
}

#container * {
  user-select: text;
}

fieldset {
  border-color: transparent;
  margin-bottom: 0;
}

.inputlabel {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

fieldset[disabled] label,
fieldset[disabled] legend,
input[type="radio"]:disabled,
input[type="checkbox"]:disabled,
textarea:disabled {
  opacity: 0.5;
}

input[type="number"] {
  width: 5em;
  text-align: end;
}

button {
  width: max-content;
}
