@import url("../util/shared.css");

body {
  max-width: 40em;
  margin: 3em;
}

h1 {
  margin-bottom: 3em;
}

div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input {
  flex: none;
}

span {
  flex: auto;
}

footer {
  margin-top: 5em;
  font-size: small;
}

.error {
  color: red;
}
