#QuickPasswords-toolsMenu,
#context-quickPasswords,
#context-quickPasswords2,
#context-copypassword
{
	list-style-image: url('chrome://quickpasswords/skin/quickPasswords16.png')  !important;
}
#QuickPasswords-toolsMenu.australis,
#context-quickPasswords.australis,
#context-quickPasswords2.australis,
.australis #context-copypassword
{
	list-style-image: url('chrome://quickpasswords/skin/quickPasswords16-Australis.png')  !important;
}



#quickPasswordsLockAfterClosing { 
	list-style-image: url("chrome://quickpasswords/skin/fugue-locks.png"); 
}

#quickPasswordsLockAfterClosing[checked]  { -moz-image-region: rect(16px, 16px, 32px, 0px); }  /* closed ! */
#quickPasswordsLockAfterClosing[checked]:hover  { -moz-image-region: rect(48px, 16px, 64px, 0px); } /* closed, strong */
#quickPasswordsLockAfterClosing:not([checked])  { -moz-image-region: rect(32px, 16px, 48px, 0px); } /* open */
#quickPasswordsLockAfterClosing[checked]:active  { -moz-image-region: rect(32px, 16px, 48px, 0px); }  /* open */
#quickPasswordsLockAfterClosing:not([checked]):active  { -moz-image-region: rect(48px, 16px, 64px, 0px); }  /* closed, strong */
#quickPasswordsLockAfterClosing.disabled { -moz-image-region: rect(64px, 16px, 80px, 0px); }  /* gray */
/* australis */
#quickPasswordsLockAfterClosing.australis[checked]  { -moz-image-region: rect(16px, 32px, 32px, 16px); }  /* closed ! */
#quickPasswordsLockAfterClosing.australis[checked]:hover  { -moz-image-region: rect(48px, 32px, 64px, 16px); } /* closed, strong */
#quickPasswordsLockAfterClosing.australis:not([checked])  { -moz-image-region: rect(32px, 32px, 48px, 16px); } /* open */
#quickPasswordsLockAfterClosing.australis[checked]:active  { -moz-image-region: rect(32px, 32px, 48px, 16px); }  /* open */
#quickPasswordsLockAfterClosing.australis:not([checked]):active  { -moz-image-region: rect(48px, 32px, 64px, 16px); }  /* closed, strong */
#quickPasswordsLockAfterClosing.australis.disabled { -moz-image-region: rect(64px, 32px, 80px, 16px); }  /* gray */


#context-quickPasswords-insertPassword {
	list-style-image: url('chrome://quickpasswords/skin/insertPassword16.png')  !important;
}
#context-quickPasswords-insertPassword.australis {
	list-style-image: url('chrome://quickpasswords/skin/insertPassword16-Australis.png')  !important;
}



#context-quickPasswords-cancelLogin {
	list-style-image: url('chrome://quickpasswords/skin/cancelLogin16.png')  !important;
}
#context-quickPasswords-cancelLogin.australis {
	list-style-image: url('chrome://quickpasswords/skin/cancelLogin16-Australis.png')  !important;
}


#context-copyusername {
	list-style-image: url('chrome://quickpasswords/skin/copyUsr16.png')  !important;
}
.australis #context-copyusername {
	list-style-image: url('chrome://quickpasswords/skin/copyUsr16-Australis.png')  !important;
}


#context-quickPasswords-insertUser {
	list-style-image: url('chrome://quickpasswords/skin/insertUser16.png')  !important;
}
#context-quickPasswords-insertUser.australis {
	list-style-image: url('chrome://quickpasswords/skin/insertUser16-Australis.png')  !important;
}



#context-copyUrl {
	list-style-image: url('chrome://quickpasswords/skin/copyUri16.png')  !important;
}
.australis #context-copyUrl {
	list-style-image: url('chrome://quickpasswords/skin/copyUri16-Australis.png')  !important;
}


#context-copyPasswordRecord {
	list-style-image: url('chrome://quickpasswords/skin/copyRecords16.png')  !important;
}
.australis #context-copyPasswordRecord {
	list-style-image: url('chrome://quickpasswords/skin/copyRecords16-Australis.png')  !important;
}


#context-quickPasswordOptions {
	list-style-image: url('chrome://quickpasswords/skin/menuOptions.png')  !important;
}
.australis #context-quickPasswordOptions {
	list-style-image: url('chrome://quickpasswords/skin/menuOptions-Australis.png')  !important;
}


/*, #context-quickPasswords-login */
#context-quickPasswordLogin {
	list-style-image: url("chrome://quickpasswords/skin/login16.png");
}
.australis #context-quickPasswordLogin {
	list-style-image: url("chrome://quickpasswords/skin/login16-Australis.png");
}


#context-quickPasswordChange {
	list-style-image: url('chrome://quickpasswords/skin/editPwd16.png')  !important;
}
.australis #context-quickPasswordChange {
	list-style-image: url('chrome://quickpasswords/skin/editPwd16-Australis.png')  !important;
}



/* colorful large 20px */ 
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button:not(.australis) {
  list-style-image: url("chrome://quickpasswords/skin/QuickPasswords-20x20.png");
  -moz-image-region: rect(0px 20px 20px 0px);
}
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button:hover:not(.australis) {
  -moz-image-region: rect(20px 20px 40px 0px);
}
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button[locked=true]:not(.australis) {
  -moz-image-region: rect(0px 40px 20px 20px);
}
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button[locked=true]:hover:not(.australis) {
  -moz-image-region: rect(20px 40px 40px 20px);
}

toolbar[iconsize="small"] #QuickPasswords-toolbar-button:not(.australis) > image
{
  /* height:20px; resize for other themes */
  border-top-width: 1px; /* fix for chrome theme */
  border-bottom-width: 1px; /* fix for chrome theme */
}

/* colorful small */
toolbar[iconsize="small"] #QuickPasswords-toolbar-button:not(.australis)
{
  list-style-image: url("chrome://quickpasswords/skin/QuickPasswords-buttonSmall.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
toolbar[iconsize="small"] #QuickPasswords-toolbar-button:hover:not(.australis) {
  -moz-image-region: rect(16px 16px 32px 0px);
}
toolbar[iconsize="small"] #QuickPasswords-toolbar-button[locked=true]:not(.australis) {
  -moz-image-region: rect(0px 32px 16px 16px);
}
toolbar[iconsize="small"] #QuickPasswords-toolbar-button[locked=true]:hover:not(.australis) {
  -moz-image-region: rect(16px 32px 32px 16px);
}
toolbar[iconsize="small"] #QuickPasswords-toolbar-button:not(.australis) > image {
	min-height: 16px;
	min-width: 16px;
}


/* New Australis Panel - Colorful */
#QuickPasswords-toolbar-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #QuickPasswords-toolbar-button {
  list-style-image: url("chrome://quickpasswords/skin/quickPasswords-Colored.png")  !important;
  -moz-image-region: rect(0px 32px 32px 0px);
}
#QuickPasswords-toolbar-button[cui-areatype="menu-panel"]:hover,
toolbarpaletteitem[place="palette"] > #QuickPasswords-toolbar-button:hover {
  -moz-image-region: rect(32px 32px 64px 0px) !important;
}
#QuickPasswords-toolbar-button[locked=true][cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #QuickPasswords-toolbar-button[locked=true] {
  -moz-image-region: rect(0px 64px 32px 32px);
}
#QuickPasswords-toolbar-button[locked=true][cui-areatype="menu-panel"]:hover,
toolbarpaletteitem[place="palette"] > #QuickPasswords-toolbar-button[locked=true]:hover {
  -moz-image-region: rect(32px 64px 64px 32px) !important;
}
/* New Australis Panel - Native (Australis) */
#QuickPasswords-toolbar-button[cui-areatype="menu-panel"].australis,
toolbarpaletteitem[place="palette"] > #QuickPasswords-toolbar-button.australis {
  list-style-image: url("chrome://quickpasswords/skin/QuickPasswords-Australis.png") !important;
  -moz-image-region: rect(0px 32px 32px 0px);
}
#QuickPasswords-toolbar-button[locked=true][cui-areatype="menu-panel"].australis,
toolbarpaletteitem[place="palette"] > #QuickPasswords-toolbar-button[locked=true].australis {
  -moz-image-region: rect(0px 64px 32px 32px);
}

#QuickPasswords-toolbar-button[cui-areatype="menu-panel"].australis image,
#QuickPasswords-toolbar-button[cui-areatype="menu-panel"].australis:hover image {
  width: 32px;
  height: 32px
}

/* small monochrome button */
#QuickPasswords-toolbar-button.australis {
  list-style-image: url("chrome://quickpasswords/skin/QuickPasswords-Australis-16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}
#QuickPasswords-toolbar-button.australis:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
#QuickPasswords-toolbar-button[locked=true].australis {
  -moz-image-region: rect(0px 32px 16px 16px);
}
#QuickPasswords-toolbar-button[locked=true].australis:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}
/* with brighttext */
toolbar[brighttext] #QuickPasswords-toolbar-button.australis {
  -moz-image-region: rect(0px 48px 16px 32px);
}
toolbar[brighttext] #QuickPasswords-toolbar-button.australis:hover {
  -moz-image-region: rect(16px 48px 32px 32px);
}
toolbar[brighttext] #QuickPasswords-toolbar-button[locked=true].australis {
  -moz-image-region: rect(0px 64px 16px 48px);
}
toolbar[brighttext] #QuickPasswords-toolbar-button[locked=true].australis:hover {
  -moz-image-region: rect(16px 64px 32px 48px);
}

/* large monochrome button (SeaMonkey + Nautipolis) 20px */
toolbar[brighttext]:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis {
  -moz-image-region: rect(0px 60px 20px 40px);
}
toolbar[brighttext]:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis:hover {
  -moz-image-region: rect(20px 60px 40px 40px);
}
toolbar[brighttext]:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis[locked=true] {
  -moz-image-region: rect(0px 80px 20px 60px);
}
toolbar[brighttext]:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis[locked=true]:hover {
  -moz-image-region: rect(20px 80px 40px 60px);
}
/* with brighttext */
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis {
  list-style-image: url("chrome://quickpasswords/skin/QuickPasswords-20x20-Australis.png");
  -moz-image-region: rect(0px 20px 20px 0px);
}
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis:hover {
  -moz-image-region: rect(20px 20px 40px 0px);
}
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis[locked=true] {
  -moz-image-region: rect(0px 40px 20px 20px);
}
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis[locked=true]:hover {
  -moz-image-region: rect(20px 40px 40px 20px);
}

#signonsTree[disabled="true"] treechildren {
	background-color: rgb(200,200,200);
	color: rgb(120,120,120);
}

#quickPasswordsThrobber {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("chrome://quickpasswords/skin/orbit3-throbber.gif");

/* css only spinner */
	border-bottom: 3px solid rgba(0, 0, 0, .1);
	border-left: 3px solid rgba(0, 0, 0, .1);
	border-right: 3px solid rgba(0, 0, 0, .1);
	border-top: 3px solid rgba(0, 0, 0, .4);
	border-radius: 100%;
	height: 22px;
	width: 22px;
	/* animation: rot .6s infinite linear; */
}
/*
@keyframes rot {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}
*/

toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button.australis image,
toolbar:not([iconsize="small"]) #QuickPasswords-toolbar-button:not(.australis) image
{
  min-width: 20px;
  min-height: 20px;
}


#quickPasswordsUriFilterRefiner {
  list-style-image: url("chrome://quickpasswords/skin/wand.png");
  -moz-image-region: rect(0px 16px 16px 0px);
  min-width: 16px !important;
}
#quickPasswordsUriFilterRefiner:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
#quickPasswordsUriFilterRefiner.australis {
  -moz-image-region: rect(0px 32px 16px 16px);
}
#quickPasswordsUriFilterRefiner.australis:hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}




quickpasswords-tip-img1 {
	max-width: 16px;
	max-height: 16px;
	background-color:transparent;
	background-image: url("chrome://quickpasswords/skin/right-click-ani.gif") !important;
}

/**********************/
/** Toolbar buttons ***/
#quickpasswords-toolbox toolbarbutton {
  padding: 6px 5px;
}

#QuickPasswordsBtnLogin, #QuickPasswordsBtnRepair, #QuickPasswordsBtnCopyPassword, #QuickPasswordsBtnCopyUser, #QuickPasswordsBtnCopyURI, 
#QuickPasswordsBtnChangePasswords, #QuickPasswordsBtnSettings, #QuickPasswordsBtnSavePasswords , #QuickPasswordsBtnLoadPasswords
{
  display: -moz-box;
  -moz-image-region: rect(0px, 24px, 24px, 0px); 
}
#quickpasswords-toolbox.australis toolbarbutton {
  -moz-image-region: rect(0px, 48px, 24px, 24px) !important; 
}

#QuickPasswordsBtnLogin {
  list-style-image: url("chrome://quickpasswords/skin/login24.png");
}

#QuickPasswordsBtnLogin[disabled],
#QuickPasswordsBtnRepair[disabled] {
  -moz-image-region: rect(24px, 24px, 48px, 0px); 
}



#QuickPasswordsBtnCopyPassword {
	list-style-image: url("chrome://quickpasswords/skin/copyPwd24.png");
}

#QuickPasswordsBtnCopyUser {
	list-style-image: url("chrome://quickpasswords/skin/copyUsr24.png");
}

#QuickPasswordsBtnCopyURI {
	list-style-image: url("chrome://quickpasswords/skin/copyUri24.png");
}

/** red pencil user by http://theiconlab.com/ freeware license */
#QuickPasswordsBtnChangePasswords {
	list-style-image: url("chrome://quickpasswords/skin/editPwd24.png");
}

#QuickPasswordsBtnSavePasswords {
	list-style-image: url("chrome://quickpasswords/skin/savePwd24.png");
}

#QuickPasswordsBtnLoadPasswords {
	list-style-image: url("chrome://quickpasswords/skin/loadPwd24.png");
}

#QuickPasswordsBtnRepair {
  list-style-image: url("chrome://quickpasswords/skin/repair24.png");
  -moz-image-region: rect(0px, 24px, 24px, 0px); 
}

#QuickPasswordsBtnSettings {
	list-style-image: url("chrome://quickpasswords/skin/options.png");
}

.australis #QuickPasswordsBtnSettings:hover image,
.australis #context-quickPasswordOptions:hover image {
  animation-duration: 3s;
  animation-name: quickPasswordRotate; /* name space polluting! */
  animation-iteration-count: infinite;
}

@keyframes quickPasswordRotate {
  from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
}

notification[value="quickpasswords-changeprompt.repairFields"] image.messageImage,
notification[value="quickpasswords-changeprompt.user"] image.messageImage,
notification[value="quickpasswords-changeprompt.password"] image.messageImage
{
	/* repair24.png */
    -moz-image-region: rect(0px, 24px, 24px, 0px) !important; 
	min-width: 24px !important;
	width: 24px !important;
	min-height: 24px !important;
	height: 24px !important;
}

notification[value="quickpasswords-changeprompt.repairFields"] hbox.notification-inner,
notification[value="quickpasswords-changeprompt.user"] hbox.notification-inner,
notification[value="quickpasswords-changeprompt.password"] hbox.notification-inner {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

