#profSwitcherButton,
#profSwitcherButtonTB  {
	list-style-image: url("chrome://profilelauncher/skin/icons/button0.png");
}

#profSwitcherButtonTB .toolbarbutton-icon {
  width: 18px;
  height: 18px;
}

toolbar[iconsize="small"] #profSwitcherButton,
toolbar[iconsize="small"] #profSwitcherButtonTB {
	list-style-image: url("chrome://profilelauncher/skin/icons/user0.png");
}


