
/* legacy rules - -moz-border-radius was replaced with border-radius since Gecko 4.0 */
#qp-options-header {
	-moz-border-radius: 0.6em;
	-moz-border-radius: 4px;
}
#qp-version-field {
	-moz-border-radius: 0.3em;
}
.text-link {
	-moz-border-radius: 0.5em;
}
#qp-Site, #qp-User
{
	-moz-border-radius: 0.5em;
}
.dialog-button[dlgtype=extra2]
{
	-moz-border-radius: 2em;
}
