/* Options window */

#QuickPasswords-preferences {
	max-height: 480px !important;
}

#quickPasswords-Options-support {
	min-height: 20em !important;
}

#qp-options-prefpane {
	background-image: url("chrome://quickpasswords/skin/QuickPassword-Icon64.png") !important;
	background-position: 10px 10px !important;
	background-repeat: no-repeat !important;
	min-width: 430px;
	max-height: 25em;
}



#qp-options-header {
	margin: 5px 0px 40px 70px;
	border-radius: 0.6em;
	border: 2px solid;
	border-radius: 4px;
	-moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-bottom-colors: ThreeDHighlight ThreeDDarkShadow;
	-moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	padding: 5px 8px;
	background-image: linear-gradient(to bottom, rgba(33,61,101,1) 0%, rgba(49,126,177,1) 8%, rgba(26,48,86,1) 40%, rgba(31,55,91,1) 83%, rgba(26,38,70,1) 100%);
	color: #fff;
}

#qp-options-header .dialogheader-title {
	margin: 0px !important;
	font-size: 12pt;
	font-weight: normal;
	font-family: calibri,sans-serif;
	text-shadow: rgb(255, 128, 255) 0px 0px 2px;
}

#qp-version-field {
	border-radius: 0.3em;
	border: 1px dotted #aaa;
	padding: 0.3em;
}

#qp-version-field:hover {
	border: 1px solid rgb(0,110,46);
	color: rgb(0,110,46) !important;
	background: linear-gradient(to bottom, rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
}



#quickPasswordsDisplayOptions {
}

/****** LINKS	********/
.text-link {
	border-radius: 0.5em;
}

.text-link, .text-link[visited="true"] {
	border: 1px #AAA solid;
	padding: 4px 2px 6px 5px !important;
	margin: 0px 2px;
	text-decoration: underline !important;
	vertical-align: middle !important;;
	text-align: center;
}

#L0.text-link:focus, #L1.text-link:focus  {
	color: #FFF !important;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
	border: 1px #006 solid;
	text-decoration: underline !important;
}

#L0.text-link:link, #L1.text-link:link {
	color: orange !important;
}
#L0.text-link:visited, #L1.text-link:visited {
	color: #A00 !important;
}


label#L0, label#L1 {
	margin: 10px;
}

label#L0 a, label#L1 a  {
	Padding: 1em;
	color: #812E05 !important;
	text-decoration: underline !important;
}

label#L0:hover, label#L1:hover {
	color: rgb(0,110,46) !important;
	background: linear-gradient(to bottom, rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
	border: 1px #600 solid;
	font-weight: bold;
}


label#L0:active, label#L1:active {
	color: #E1420B !important;
	background-color: #FEEB3B !important;
}

label#L0:active a, label#L1:active a {
	text-decoration: underline !important;
}

/* changePasswords window */
.left {
	min-width:17em;
}
.form > rows > row > *:first-child
{
	text-align: right;
	vertical-align: baseline;
	padding-right: 2em;
	width: auto;
}
.centerButtons
{
	text-align: center;
}
/*#quickPasswordsMassSelector {
	list-style-image: url("chrome://quickpasswords/skin/QuickPasswords-24-filter.png");
	-moz-image-region: rect(0px 24px 24px 0px);
}
#quickPasswordsMassSelector label { padding-left: 1.5em; }
#quickPasswordsMassSelector .button-icon {
  width:  24px; 
  height: 24px; 
  min-height: 24px; 
  margin: 5px 2px;
}

#quickPasswordsMassSelector:active, #quickPasswordsMassSelector:hover
{
	-moz-image-region: rect(24px 24px 48px 0px);
}*/

#qp-Site, #qp-User
{
	border-radius: 0.5em;
	padding: 4px;
	color: #fff;
	font-weight: bold;
}
#qp-Site
{
	background: rgb(191,210,85);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
}
#qp-User
{
	background: rgb(254,204,177);
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%);
}

.dialog-button[dlgtype=extra2] label
{
	padding: 0px 2em;
	margin: 0;
	max-height: 1.6em; /* slimmer donate button */
}

/* donate button (extra2) */
button.dialog-button[dlgtype=extra2] {
	background: linear-gradient(to bottom, rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%) !important;
}

.dialog-button[dlgtype=extra2]
{
	border-radius: 2em;
	min-height: 2em;
	-moz-appearance: none;
	box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.7);
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	background: rgb(254,204,177);
	transition-property: box-shadow, margin;
	transition-duration: 0.75s, 0.2s;
}

/*
.dialog-button[dlgtype=extra2]:hover
{
	box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.8);
	background: linear-gradient(to bottom, rgba(254,222,178,1) 0%, rgba(241,162,51,1) 50%, rgba(235,140,7,1) 51%, rgba(251,186,95,1) 100%);
}
*/

.dialog-button[dlgtype=extra2]:active
{
	box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.9);
	background: linear-gradient(to bottom, rgba(254,222,178,1) 0%, rgba(241,162,51,1) 50%, rgba(235,140,7,1) 51%, rgba(251,186,95,1) 100%);
}

.obscured,
[disabled="true"].obscured {
	-moz-appearance: none;
	color: rgb(120,120,120) !important;
	background-color: rgb(120,120,120) !important;
	transition-property: color, background-color;
	transition-duration: 0.8s, 1.5s;
}

.obscured:hover,
[disabled="true"].obscured:hover {
	color: rgb(220,220,220) !important;
	background-color: rgb(60,60,60) !important;
}