#alertImage[src$="quickpasswords-Icon.png"] {
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
	margin: 5px 12px 5px 10px;
}

#alertTitleBox label[value^="QuickPasswords"].alertTitle {
	font-size: 13px;
}