#asbcustom-input-helper-button  {
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 2px;
  cursor: default;
}
.asbcustom-input-helper-button-image {
  margin: 0px;
  list-style-image: url("chrome://asbcustom/skin/icon.png");
}
.asbcustom-input-helper-button-dropmarker {
  -moz-margin-start: 7px;
  margin-top: 5px;
  list-style-image: url("chrome://messenger/skin/icons/search-arrow.gif");
}
