/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */



.today-subpane {border-color: black !important; font-weight: bold !important; color: black !important; background-color: white !important;} 
.miniday-nav-buttons> .toolbarbutton-icon {filter: contrast(100%) brightness(200%);} 
#agenda-panel {background-color: white !important; color: black !important;} 
#today-pane-panel > *{border-top: solid; border-width: 1px; background-color: white !important; color: black !important;} 
#todaypane-new-event-button {filter: contrast(100%) brightness(200%) !important;} 
.toolbar, toolbox, menubar>*{background-color: white !important; color: black !important;} 
.tab-background {border-color: blue !important; background-color: white !important;} 
.tab-text {color:red !important;} 
statusbarpanel {background-color: white !important; color: blue !important} 
#quick-filter-bar {background-color: white !important; color: black !important;} 
#calendar-add-task-button {filter: contrast(100%) brightness(200%) !important;} 
#task-addition-box {background-color: white !important; color: black !important;} 
.view-header {background-color: white !important; color: black !important;} 
.today-navigation-button {color: black !important;} 
.view-navigation-button {background-color: white !important; color: black !important;} 
.navigation-bottombox {background-color: white !important; color: black !important;} 
.navigation-inner-box {background-color: white !important; color: black !important;} 
tab[calview] {background-color: white !important; color: black !important;} 
.navigation-spacer-box {background-color: white !important; color: black !important;} 
#unifinder-searchBox {background-color: white !important; color: black !important;} 
.close-icon{background-color: white !important; color: red !important;} 
.close-icon:not([selected=true]) {background-color: #FFFFFF !important; color: black !important;} 
.tab-background:not([selected=true]) {border-color: white !important;} 
#MsgHeadersToolbar {background-color: white !important; color: black !important;} 
.aw-menulist {background-color: white !important; color: black !important;} 
.main-header-area {background-color: white !important; color: black !important;} 
.headerName {color: black !important;} 
.headerValue {color: black !important;} 
.findbar-container {border-color: black !important; background-color: white !important; color: black !important;} 
#attachmentBar {background-color: white !important; color: black !important;} 
.task-details-name {color: black !important;} 
#calendar-task-details-grid > rows > .item-date-row > .headline {color: black !important;} 
.task-details-value {color: black !important;} 
.tab-text:not([selected=true]) {color: blue !important;} 
#calendar-task-details-grid > rows > .item-date-row{filter: contrast(100%) brightness(0%) !important;} 
#calendar-event-dialog, #calendar-task-dialog, #calendar-event-dialog-inner, #calendar-task-dialog-inner {background-color: white !important; color: black !important;} 
.tab-background:not([selected=true]) {border-top: solid !important; border-color: #FFFFFF !important; background-color: #FFFFFF !important;} 
#navigation-toolbox, menu {background-color: #FFFFFF !important;} 

#calendar-task-details-grid {background-color: white !important; color: black !important;}

#custom-button-1 {list-style-image: url("w_small.png");}
#custom-button-1: checked {list-style-image: url("w_small.png");}