radio[pane=paneRedirect] > .radio-check {
  list-style-image: url("chrome://mailredirect-shared/skin/redirect.svg");
}

radio[pane=paneRedirect] {
  list-style-image: url("chrome://mailredirect-shared/skin/icon.png");
}

#xToolTip {
  -moz-binding: url("chrome://mailredirect/content/xtooltip.xml#xtooltip");
  padding: 0px !important;
}
