radio[pane=paneRedirect] > .paneButtonIcon {
  list-style-image: url("chrome://mailredirect-shared/skin/icon.svg#redirect");
}

#xToolTip {
  -moz-binding: url("chrome://mailredirect/content/xtooltip.xml#xtooltip");
  padding: 0px !important;
}
