.tpecMyClass {
  background-color: #FFFFFF;
  font-family: "Times New Roman","Arial";
  font-size: 14px;
  height: 300px;
  }

.redlabel {
  color: red;
  margin-left:0;
  margin-right:auto;
  font-size: 14px;
}

.bluelabel {
  color: blue;
  margin-left:0;
  margin-right:auto;
  font-size: 14px;
}


description {
  font-size: 16px;
  margin-left:0;
  margin-right:auto;
}

.vspacer {
  height: 14px;
}

.hspacer {
  width: 40px;
}
