.tpecMyClass {
  background-color: #FFFFFF;
  font-family: "Times New Roman","Arial";
  font-size: 14px;
  width: 400px;
  }

.seltable {
  margin-left:auto;
  margin-right:auto;
  width: 100%;
}

.titlerow {
  font-weight:normal;
  color:blue;
  text-align:center;
}

.valuerow {
  text-align:center;
}

.redlabel {
  color: red;
  margin-left:0;
  margin-right:auto;
  font-size: 14px;
}

.bluelabel {
  color: blue;
  margin-left:0;
  margin-right:auto;
  font-size: 14px;
}


description {
  font-size: 16px;
  margin-left:0;
  margin-right:auto;
}

.vspacer {
  height: 14px;
}

.hspacer {
  width: 40px;
}

.small-button {
  min-width: 1em;
  width: 50px;
}
