.tpecSearchPAHeader {
  text-align: center;
  font-weight: bold;
}
.tpecListboxRowOdd {
  text-align: center;
  background-color: white !important;
}
.tpecListboxRowEven {
  text-align: center;
  background-color: lightgray !important;
}

listitem[selected] {
    color: white;
    font-weight: bold;
    border: 2px solid black;
    background-color: blue !important;
}

#tpecSearchPAStatus {
  text-align: center;
}

.tpecSearchPADescription {
  white-space: pre-wrap;
  word-wrap: break-word;
}
