/*
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import url(/resources/ui-color.css);
@import url(/extlib/dialog.css);

.countdown-message {
  text-align: center;
}

.countdown-message label {
  font-size: 2em;
  margin: 0.5em 0;
}

.countdown-message label#count {
  font-size: 3em;
  margin: 0 0.25em;
}
