.mapa_all,
.mapa_all *
{
	cursor: pointer;
}
#masterPasswordPlusLock
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mapa_lock,
.mapa_lock2
{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index:999999997;
}
.mapa_lock
{
	background-image: url("images/locked.png");
	background-repeat: repeat;
	background-color: black;
	opacity:0.3;
}
.mapa_lock2[transparent="true"],
.mapa_lock2[transparent="true"] .mapa_lock
{
	opacity:0.3;
}
.mapa_lock2[transparent="false"]
{
	background-color: white;
}
.mapa_lock2[transparent="false"] .mapa_lock
{
	background-color: white;
	opacity:0.2;
}
.mapa_lock2[transparent="false"][bgimage="false"] .mapa_lock,
.mapa_lock2[bgimage="false"] .mapa_lock
{
	background-color: -moz-Dialog;
	background-image: none;
}
#masterPasswordPlusLockMsgBox
{
	position: static;
	height: 100%;
	width: 100%;
}
#masterPasswordPlusLockMsgBox,
#masterPasswordPlusLockMsgBox box vbox hbox
{
	opacity: 1;
	color: black;
	z-index:999999998;
}

#masterPasswordPlusLockMsgBox,
#masterPasswordPlusLockMsgBox box vbox hbox
{
	background-color: transparent;
}
#masterPasswordPlusUnLockBox
{
	padding: 0;
}
#masterPasswordPlusUnLock
{
	border: 1px solid -moz-DialogText;
	font-size: 1.5em;
	position: relative;
	background-color: white;
	z-index:999999999;
	margin: 0;
	padding: 1em !important;
	outline: 0;
}
#masterPasswordPlusUnLock,
#masterPasswordPlusUnLock:hover,
#masterPasswordPlusUnLock:hover:not([disabled="true"]),
#masterPasswordPlusUnLock[buttonover="true"],
#masterPasswordPlusUnLock:focus,
#masterPasswordPlusUnLock:hover:active:not([disabled="true"]),
#masterPasswordPlusUnLock[open="true"]:hover,
#masterPasswordPlusUnLock[open="true"]
{
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	outline: 0;
	background-image: none;
	border: 1px solid -moz-DialogText;
}

#masterPasswordPlusUnLockInfo
{
	font-size: 1.2em;
}
.mapa_status
{
	margin: 4px;
}
.mapa_lockInfo
{
	padding: 10px;
}

/*
#masterPasswordPlus_lock_icon
{
	display: none;
}
*/

#masterPasswordPlusUnLockType
{
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align:center;
}

#masterPasswordPlusUnLockInput
{
	-moz-binding: url("textbox.xml#textbox");
	width: 15em;
}

#mapaPlusNonLat
{
	list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

#mapaPlusLang
{
	font-size: 0.8em;
}

#masterPasswordPlusUnLock:-moz-focusring
{
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background-image: none;
}
