.note
{
	font-weight: bold;
}
.play
{
	list-style-image: url("chrome://global/skin/icons/information-16.png");
	cursor: pointer;
	padding-right: 3px;
}
.play[disabled="true"]
{
	cursor: auto;
	opacity: 0.3;
	
}
tabpanels
{
	-moz-appearance: tabpanels;
}

.mapapl
{
	list-style-image: url("chrome://mapaplus/skin/images/toolbar-button.png");
	-moz-image-region: rect( 24px 16px 40px 0px);
}
.clone
{
	min-width: 16px !important;
	overflow: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	text-align: center !important;
	border: 0 !important;
}
.mapapl[selected="true"]
{
	-moz-image-region: rect(24px 32px 40px 16px);
}
.resizer
{
	-moz-appearance: resizer;
}
.statusbar-resizerpanel
{
	display: none;
}

.hotkey
{
	min-width: 165px;
	max-width: 5000px;
/*
	-moz-user-select: none;
*/
}
.hotkey[focused="true"]:not([disabled="true"]),
.hotkey[focused="true"]:not([disabled="true"]) > *
{
	color: -moz-nativehyperlinktext;
}
.hotkey[error="true"], 
.hotkey[error="true"] > *
{
	background-color: #ffd9d9;
}

checkbox:not([label]) .checkbox-label-box,
checkbox:focus:not([label]) .checkbox-label-box
{
	display: none;
}
checkbox:not([label])
{
	margin: 0;
	padding: 0;
}
#urlbar[disabled="true"] image
{
	filter: url("disabled.svg#disabled") !important;
	opacity: 0.5 !important;
}
*[disabled="true"],
:not(#urlbar-url).disabled
{
	color: graytext !important;
	cursor: auto !important;
	-moz-user-focus: ignore;
	-moz-user-input: none;
}
#urlbar-icons *
{
	padding: 0 !important;
	margin: 0 !important;
}
#urlbar-icons > *
{
	padding: 0 2px 0 2px !important;
}
#urlbar-icons:not([disabled="true"]),
#urlbar-icons:not([disabled="true"]) *
{
	cursor: crosshair !important;
}
#options[options="true"] tabpanel
{
/*
	overflow: auto;
*/
}
#masterPasswordPlusOptions[changemp="true"]
{
	padding: 0;
}

.copy_link
{
	list-style-image:url("chrome://mapaplus/skin/images/icons.png") !important;
	-moz-image-region: rect(0, 47px, 16px, 31px);
}

.identity
{
	list-style-image:url("chrome://mapaplus/skin/images/identity-icons-brand.svg");
	width: 16px;
	height: 16px;
}

#urlbar,
#urlbar *
{
	-moz-user-focus: ignore;
	-moz-user-input: none;
}
.urlbar-label
{
	margin-left: 0;
}

label.time
{
	padding-left: 0;
	margin-left: 0;
}

#mapaPlusIdleStatus
{
	list-style-image: url("chrome://mapaplus/skin/images/toolbar-button.png");
	-moz-image-region: rect(24px 32px 40px 16px);
	width: 16px !important;
	height: 16px !important;
}

#mapaPlusIdleStatus[idle="1"]
{
	-moz-image-region: rect(24px 48px 40px 32px);
	opacity: 0.3;
}
#mapaPlusIdleStatus[disabled="true"]
{
	opacity: 0.3;
}


treecol:not([type="checkbox"])
{
	min-width: 3em;
}
treecol[type="checkbox"] > label
{
	display: none;
}
treecol[type="checkbox"] > image,
treechildren::-moz-tree-checkbox {
	list-style-image: url("images/icons.png");
	-moz-image-region: rect(0, 120px, 14px, 106px);
}

treecol[type="checkbox"][checked="2"] > image,
treechildren::-moz-tree-checkbox(checked2) {
	-moz-image-region: rect(0, 133px, 14px, 119px);
}

treecol[type="checkbox"][checked="3"] > image,
treechildren::-moz-tree-checkbox(checked3) {
	-moz-image-region: rect(0, 146px, 14px, 132px);
}
treecol#name
{
	min-width: 10em;
}
treecol#value
{
	min-width: 20em;
}
#coomanPlusWindowOptionsRestore
{
	min-width: 30em;
	min-height: 40em;
}