#mapa_menu_context,
#mapa_statusbar,
#mapa_toolbar_button,
#mapa_menu_tools,
.mapa_icon,
.mapa_icon_small,
.mapa_icon_indicate,
notification[value="masterPasswordPlusBlocked"] .messageImage
{
	list-style-image: url("chrome://mapaplus/skin/images/toolbar-button.png") !important;
	-moz-image-region: rect(0px 24px 24px 0px);
}

.mapa_icon[status="1"],
#mapa_toolbar_button[status="1"]
{
	-moz-image-region: rect(0px 48px 24px 24px);
}
.mapa_icon[status="0"],
#mapa_toolbar_button[status="0"]
{
	-moz-image-region: rect(0px 72px 24px 48px);
}
.mapa_icon_indicate:not([disabled="true"]),
.mapa_icon_small,
#mapa_statusbar,
#mapa_menu_tools,
#mapa_menu_context,
notification[value="masterPasswordPlusBlocked"] .messageImage,
[iconsize="small"] #mapa_toolbar_button
{
	-moz-image-region: rect( 24px 16px 40px 0px);
}
.mapa_icon_small[status="1"],
#mapa_menu_context[status="1"],
#mapa_statusbar[status="1"],
#mapa_menu_tools[status="1"],
[iconsize="small"] #mapa_toolbar_button[status="1"]
{
	-moz-image-region: rect(24px 32px 40px 16px);
}

.mapa_icon_indicate[disabled="true"],
.mapa_icon_small[status="0"],
#mapa_menu_context[status="0"],
#mapa_statusbar[status="0"],
#mapa_menu_tools[status="0"],
[iconsize="small"] #mapa_toolbar_button[status="0"]
{
	-moz-image-region: rect(24px 48px 40px 32px);
}

.mapa_icon[suppressed="true"],
#mapa_toolbar_button[suppressed="true"]
{
	-moz-image-region: rect(0px 96px 24px 72px);
}

.mapa_icon_indicate[suppressed="true"]:not([disabled="true"]),
.mapa_icon_small[suppressed="true"],
#mapa_statusbar[suppressed="true"],
#mapa_menu_tools[suppressed="true"],
#mapa_menu_context[suppressed="true"],
notification[value="masterPasswordPlusBlocked"][suppressed="true"] .messageImage,
[iconsize="small"] #mapa_toolbar_button[suppressed="true"]
{
	-moz-image-region: rect(24px 64px 40px 48px);
}
/*
not sure why it's here..
*/
/*
.hidden
{
	background: transparent;
	visibility: hidden;
}
*/
.mapa_info
{
	cursor:help;
}

.mapa_info[disabled="true"]
{
	cursor:auto;
}

notification[value="masterPasswordPlusBlocked"]
{
	background-color: #eefbff;
	color: InfoText;
	text-shadow: none;
}

.mapa_menupopup
{
	visibility: hidden;
	-moz-appearance: none;
	background-color: transparent;
}

#mapa_toolbar_button:-moz-system-metric(windows-classic) .toolbarbutton-icon[label]:not([label=""]),
#mapa_toolbar_button:-moz-system-metric(windows-classic) .toolbarbutton-icon[type="menu"]
{
	-moz-margin-end: 2px;
}
/*
.statusbarbutton .toolbarbutton-menubutton-button,
.statusbarbutton .toolbarbutton-icon
{
	margin: 0;
	padding: 0;
}*/
#mapa_statusbar > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
#mapa_statusbar > .toolbarbutton-1 > .toolbarbutton-icon
{
	width: inherit;
	height: inherit;
}

.popup-notification-icon[popupid="mapaPlus-update"] {
	list-style-image: url("chrome://mapaplus/skin/images/masterpasswordplus.png");
	width: 32px !important;
	height: 32px !important;
}
