#mapaPlusAboutWindow
{
	width: 440px;
	height: 500px;
}
.main
{
	overflow: auto;
}
.main[overflow]
{
	margin-right: 0 !important;
}
.pre,
.pre > *
{
	white-space: pre-wrap;
	word-wrap: break-word;
	max-width: 30em;
}

.link
{
	margin-right: 0;
	margin-left: 0;
	text-decoration: underline;
}

.changesLog_copy_link
{
	list-style-image:url("images/copy_link.png") !important;
}
